{{ extend 'layoutSIRADEXloged.html' }}


{{block titulo}}
    Editar Perfil
{{end}}

{{block subtitulo}}
    <!-- Nombre del usuario -->
    {{=session.usuario['first_name']}}
{{end}}

{{block descripcion}}
    <div class="row"> 
        <div class="col-lg-6">
        <!-- Datos del usuario -->
			<div class="container-fluid">
			    {{=form1}}
			</div>                        
        </div>
    <div class="col-lg-6">
<div class="container-fluid">
    {{=form}}
</div>
    </div>
    </div>
{{end}}

{{block contenido}}
    <div class="row">
        <div class="col-lg-12 center-block">
     	AQUI VAN LAS OPCIONES DE LAS GRAFICAS
        </div>           
    </div>
{{end}}                                    

{{block script}}

    <script>
        $(document).ready(function(){
            $("#dv-act").hide();
            $("#dv-rec").hide();
            $("#dv-esp").hide();

            $("#btn-act").click(function(){
            $("#dv-act").toggle(300);
                });

            $("#btn-rec").click(function(){
            $("#dv-rec").toggle(300);
                });

            $("#btn-esp").click(function(){
            $("#dv-esp").toggle(300);
                });                            
            });
    </script>
{{end}}



