{{ extend 'layoutSIRADEXloged.html' }}


{{block titulo}}
    Editar Perfil
{{end}}

{{block subtitulo}}
    <!-- Nombre del usuario -->
    {{=session.usuario['first_name']}}
    {{=session.usuario['last_name']}}
    <div id=div_correo_alternativo data-correo-alternativo="{{=alternativo}}"></div>
    <div id=div_telefono data-telefono="{{=telefono}}"></div>
{{end}}

{{block descripcion}}

    <div class="card">
    <div class="container-fluid">
        
    <div class="row tab-pane"> 
        <div class="col-sm-6">
        <!-- Datos fijos del usuario -->
            {{=form1}}
        </div>                        

        <div class="col-sm-6">
        <!-- Datos editables del usuario -->
            {{=form}}   
        </div>
    </div>
    </div>
    </div>
        
{{end}}
                                  

{{block script}}

    <script>
        $(document).ready(function(){
            $("#dv-act").hide();
            $("#dv-rec").hide();
            $("#dv-esp").hide();

            $("#btn-act").click(function(){
            $("#dv-act").toggle(300);
                });

            $("#btn-rec").click(function(){
            $("#dv-rec").toggle(300);
                });

            $("#btn-esp").click(function(){
            $("#dv-esp").toggle(300);
                });
            
            var telefono = $("#div_telefono").attr("data-telefono");
            $("#no_table_telefono__row input[name='telefono']").val(telefono);
            var correo = $("#div_correo_alternativo").attr("data-correo-alternativo");
            $("#no_table_correo_alter__row input[name='correo_alter']").val(correo);
            
            });

    </script>
{{end}}



