{{extend 'layoutSIRADEX.html'}}

{{block navegacion}}
    <nav class="navbar navbar-default" style="border-color:#FFF">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right" >
               <li class="activo">           
                <!-- EN SERVIDOR -->
                   <!-- <a  id = login 
                            class ='btn btn-xs' 
                            href='http://secure.dst.usb.ve/login?service=http%3A%2F%2F159.90.211.179%2FSiraDex%2Fdefault%2Flogin_cas'> -->
                <!-- EN DESARROLLO -->
                    <a 
                        class ='btn btn-xs ' 
                        href='http://secure.dst.usb.ve/login?service=http%3A%2F%2Flocalhost%3A8000%2FSiraDex%2Fdefault%2Flogin_cas'>
                        Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>                                   
{{end}}

{{block titulo}}
    DEX
{{end}}

{{block descripcion}}
<div class="col-lg-12">
    <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
    <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis                            
    <br>
    <br>
    Puedes buscar productos en el buscador que sirve para buscar productos:                          
    </p>
</div>
{{end}}

{{block contenido}}

    <!-- Busquedas publicas -->
        <!-- Busquedor -->
            <form class="navbar-form" role="search">
                <div class="input-group col-lg-12 col-lg-offset-1">
                    <!-- barra de busqueda -->
                        <input  type="text" 
                                class="form-control" 
                                placeholder="Buscar Productos"
                                id="form-busqueda">
                    
                    <!-- btn filtros -->
                        <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" id="btn-filtro">
                                Filtros
                            </button>
                        </span>
                    
                    <!-- Lupa -->
                        <span class="input-group-btn">
                            <button type="submit" 
                                    class="btn btn-default" 
                                    id="btn-lupa">
                                O
                            </button>
                        </span>                                        
                </div>
            </form>
        
        <!-- Filtros -->
            <div id="filtros">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn" onload="ajax('{{=URL('default', 'listaProgramas')}}', [''], 'target')">Programa</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                      {{for x in rows:}}
                    <li onclick="ajax('{{=URL('default', 'listaTipos')}}', [''], 'target')"><a href="#" >{{=x['nombre']}}</a></li>
                      {{pass}}
                  </ul>
                </div>

                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn">Tipo de Actividad</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" id="listaTipos">

                  </ul>
                </div>

                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn">Fecha</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Opcion 1</a></li>
                  </ul>
                </div>                                
                
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn">Usuario</button>
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Opcion 1</a></li>
                  </ul>
                </div>                
               
            </div>
{{end}} 

{{block footer}}
    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
{{end}}

{{block script}}
    <script>
        $(document).ready(function(){
            $("#filtros").hide();

            $("#btn-filtro").click(function(){
            $("#filtros").toggle(300);
                });
            });

    </script>
{{end}}
