{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<html>
<head>
    <!--*********************************************
    **********************************************-->
    <meta charset = "UTF-8">
    <title> SIRADEX </title>
    
    <!--*********************************************
        Extend e include
    **********************************************-->
        {{include 'web2py_ajax.html'}}
        {{response.files.append(URL('static','css/layoutStyle.css'))}}

    <!--*********************************************
        Link con bootstrap, CSS y JavaScript
    **********************************************-->
        <link   rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
                integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
                crossorigin="anonymous">
        
        <link   href="{{=URL('static', 'css/layoutStyle.css')}}" 
                rel="stylesheet" 
                type="text/css" />
        
        <link   href="{{=URL('static', 'js/web2py.js')}}" />
        
        <link   rel="shortcut icon" 
                href="{{=URL('static','iconos/favicon.ico')}}" 
                type="image/x-icon">
</head>

<body style="position: relative;min-height: 100%;top: 0px;">
    <!--*********************************************
        MAIN
    *********************************************-->
        <div class="container">
            <div clas=="row">        
            <div id="degradado" class="col-md-10 col-md-offset-1">    
                <!--*********************************************
                    HEADER
                **********************************************--> 
                    <header>   
                        <!--*********************************************
                            Banner SiraDex
                        **********************************************--> 
                            <!---->
                            {{=IMG(_src=URL('static', 'images', args='banner.jpg')) }} 
                        
                        <!--*********************************************
                            Navegacion
                        **********************************************-->
                           <nav class="navbar navbar-default" style="border-color:#FFF">
                               <div class="container-fluid">
                                   <ul class="navbar-nav navbar-right" >
                                   <li>
                                   
                                   <!-- EN SERVIDOR -->
                                   <!-- <a  id = login 
                                       class ='btn btn-xs' 
                                       href='http://secure.dst.usb.ve/login?service=http%3A%2F%2F159.90.211.179%2FSiraDex%2Fdefault%2Flogin_cas'> -->
                                   <!-- EN DESARROLLO -->
                                   <a  id = login 
                                       class ='btn btn-xs' 
                                       href='http://secure.dst.usb.ve/login?service=http%3A%2F%2Flocalhost%3A8000%2FSiraDex%2Fdefault%2Flogin_cas'>
                                   Iniciar Sesión
                                   </a>
                                   </li>
                                   </ul>
                               </div>
                           </nav>
                    </header>

                <!--*********************************************
                    CONTENIDO
                **********************************************-->
                    <section id = "contenido">
                        <!--*********************************************
                            Titulo
                        **********************************************-->
                            <h1 id="titulo">
                                DEX
                            </h1>
                        
                        <!--*********************************************
                            Descripcion pagina
                        **********************************************-->
                           <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis                            
                            <br>
                            <br>
                            Puedes buscar cosas en el buscador que sirve para buscar cosas:
                           </p>
                        
                        <!--*********************************************
                            Contenido
                        **********************************************-->
                            <!-- Busquedas publicas -->
                                <!-- Busquedor -->
                                    <form class="navbar-form" role="search">
                                        <div class="input-group col-lg-12 col-lg-offset-1">
                                            <!-- barra de busqueda -->
                                                <input  type="text" 
                                                        class="form-control" 
                                                        placeholder="Encuentra cosas brutales">
                                            
                                            <!-- btn filtros -->
                                                <span class="input-group-btn" >
                                                    <button type="button" class="btn btn-default" id="btn-filtro">
                                                        Filtros
                                                    </button>
                                                </span>
                                            
                                            <!-- Lupa -->
                                                <span class="input-group-btn">
                                                    <button type="submit" class="btn btn-default">
                                                        O
                                                    </button>
                                                </span>                                        
                                        </div>
                                    </form>
                                
                                <!-- Filtros -->
                                    <div id="filtros">
                                        DESPLIEGE DE LOS FILTROS DE BUSQUEDA
                                    </div>
                    </section>
            </div>
            </div>
        </div>

    <!--*********************************************
        FOOTER
    *********************************************-->
        <div id="footer" class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    
                Sartenejas, Baruta, Edo. Miranda - Apartado 89000 Cable Unibolivar Caracas Venezuela. Teléfono +58 0212-9063111
                <br>
                Litoral. Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 0212-9069000 
                </div>
                <div class="clear"></div>
            </div>
        </div>      

    <!--*********************************************
        JavaScript de bootstrap
    *********************************************-->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
        <script>
            $(document).ready(function(){
                $("#filtros").hide();

                $("#btn-filtro").click(function(){
                $("#filtros").toggle(300);
                    });
                });
        </script>
</body>
</html>
