{{extend 'layoutSIRADEX.html'}}

{{block navegacion}}
    <nav class="navbar navbar-default" style="border-color:#FFF">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right" >
               <li class="activo">
                <!-- EN SERVIDOR -->
                    <a  id = login 
                            class ='btn btn-xs' 
                            href='http://secure.dst.usb.ve/login?service=http%3A%2F%2Fsiradex.dex.usb.ve%2Fdefault%2Flogin_cas'>
                <!-- EN DESARROLLO -->
                <!--     <a  class ='btn btn-xs ' 
                            href='http://secure.dst.usb.ve/login?service=http%3A%2F%2Flocalhost%3A8000%2FSiraDex%2Fdefault%2Flogin_cas'> -->
                        Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{{end}}

{{block titulo}}
    DEX
{{end}}

{{block descripcion}}
<div class="text-justify">
    
    <p>
    Tiene como objetivo promover, planificar, coordinar y evaluar las políticas universitarias mediante las cuales la Universidad se vincula con la sociedad y amplía, complementa y profundiza los alcances de aquellos postulados de su misión relativos tanto a aspectos formativos, educativos y de acción comunitaria, como a los referidos a la generación e instrumentación de conocimientos para la resolución de los problemas concretos del país. Asimismo, tiene como propósito hacer de la Universidad un actor protagónico cooperante en el desarrollo del país, fomentar la integración de la comunidad universitaria y fortalecer la formación integral y la sensibilidad social del estudiante.

    <br>
    <br>

    Los programas asignados por el Consejo Directivo al Decanato de Extensión son:
    <ul>
    <li>La educación permanente</li>
    <li>La acción social y el desarrollo comunitario</li>
    <li>La asistencia técnica a los sectores productivos y de servicios públicos y privados</li>
    <li>El fomento y la proyección Artística, Cultural y Deportiva</li>
    <li>La divulgación y promoción del quehacer universitario</li>
    <li>Programa Igualdad de Oportunidades </li>
    <li>Programa de Seguimiento de Egresados</li>
    <li>Programa de Información Ocupacional y de Investigación del Mercado Laboral </li>
    <li>Programa de Promoción del Emprendimiento </li>
    <li>Programa de Enlace Universidad – Empresa</li>
    </ul>
    <br>
    <br>
    </p>
</div>
{{end}}

{{block contenido}}

    <!-- Busquedas publicas -->
        <!-- Buscador -->
        <form class="navbar-form" role="search" action="{{=URL(c='busq_val',f='busqueda')}}" method="post">
            <div class="input-group col-lg-12 col-lg-offset-1">
                <!-- barra de busqueda -->
                <input  type="text" 
                        class="form-control" 
                        placeholder="Buscar Productos"
                        id="form-busqueda"
                        name="Producto"/>
                    
                <div class="input-group-btn" >
                    <div clss="btn-group" role="group">
                    <!-- btn filtros -->
                        <span class="input-group-btn" >
                            <button type="button" class="btn btn-default" id="btn-filtro">
                                Filtros
                            </button>
                        </span>

                    <!-- Lupa -->
                        <span class="input-group-btn">
                            <button type="submit" 
                                    class="btn btn-default glyphicon glyphicon-search"
                                    id="btn-lupa"
                                    style="top:0px !important;">
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        <br>
            <!-- Filtros -->
            <div id="filtros">
                <center>
                    <div role = "menu" class="tab-pane">
                        <!--Filtro de Programa-->
                        <div class="form-group">
                            <label for="Programa"> Programas</label>
                            <select name="Programa" 
                                    class="form-control"
                                    onchange="ajax('obtener_actividades', ['Programa'], ':eval')">
                                
                                <option value="all" selected="">--cualquiera--</option>
                                
                                {{for x in rows:}}
                                    <option value="{{=x['id_programa']}}">{{=x['nombre']}}</option>
                                {{pass}}
                            </select>
                        </div>

                        <!-- Filtro de Tipo de Actividad -->
                        <div class="form-group">
                            <label for="TipoActividad"> Tipo Actividad:</label>
                            <select name="TipoActividad" 
                                    class="form-control"
                                    id="lista_tipos" >
                                
                                <option value="all" selected="">--cualquiera--</option>
                                
                                {{for x in rowsT:}}
                                    <option value="{{=x['id_tipo']}}">{{=x['nombre']}}</option>
                                {{pass}}
                            </select>
                        </div>
                        
                        <br>
                        <br>
                        
                        <!-- Filtro de Fecha -->
                        <div class="form-group">
                            <label for="date">Fecha:</label>
                            <input type="date" name="fecha" max='{{=fecha}}' id="focusedInput" class="form-control"/>

                        </div>

                        <!-- Filtro de Autor -->
                        <div class="form-group">
                            <label for="Autor">Autor:</label>
                            <input type="text" name="Autor" id="focusedInput" class="form-control"/>
                        </div>
                    </div>
                </center>
            </div>
    </form>        


{{end}}

{{block footer}}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
{{end}}

{{block script}}
    <script>
        $(document).ready(function(){
            $("#filtros").hide();
            $("#btn-filtro").click(function(){
            $("#filtros").toggle(300);
                });
            });

    </script>
{{end}}
