{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    Bienvenido al SIRADEX
{{end}}

{{block subtitulo}}
    <!-- Nombre del usuario -->
    {{=session.usuario['first_name'].split(' ')[0]}} {{=session.usuario['last_name'].split(' ')[0]}}

    <!-- icono editar -->
        
    <a id="editar" href="{{=URL('EditarPerfil')}}" >
    <!-- {{=IMG(_src=URL('static', 'icon', args='i_edit.png'),_style='max-height:1em') }}-->
    <span class="glyphicon glyphicon-edit green-icn"></span>
    </a>
{{end}}

{{block descripcion}}
    <div class="row"> 
        <div class="col-lg-6">
        <!-- Datos del usuario -->
            <p class="text-justify">
                <b>nombre completo:</b> {{=session.usuario['first_name']}} {{=session.usuario['last_name']}}
                <br>
                <b>Carrera:</b>{{=session.usuario['carrera']}}
                <br>
                <b>usbid:</b> {{=session.usuario['usbid']}}
                <br>
                <b>cedula:</b> {{=session.usuario['cedula']}}
                <br>
                <b>correo:</b>
                <br>
                <b>correo alternativo:</b>
                <br>
                {{if session.usuario['phone'] != None:}}
                <b>Telefono:</b>
                {{pass}}
                <br>

            </p>
        </div>
    <div class="col-lg-6">
        {{=IMG(_src=URL('static', 'images/cake_chart.png'),_height='250',_alt='Agregar Producto') }}
    </div>
    </div>
{{end}}

{{block contenido}}
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                
        <a href="{{=URL(c='producto',f='gestionar')}}">        
            <button type="button" class="btn btn-default green btn-border center-block" data-toggle="modal" data-target="#myModal">
                Ver Todas Mis Actividades
            </button>
        </a>
            </div>
        </div>
        <br>
    <div class="row">
        <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active act">
            <a  href="#activas" 
                aria-controls="activas" 
                role="tab" 
                data-toggle="tab">
                Validadas
            </a>
        </li>
        
        <li role="presentation" class="esp">
            <a  href="#espera" 
                aria-controls="espera" 
                role="tab" 
                data-toggle="tab">
                En Espera
            </a>
        </li>

        <li role="presentation" class="rec">
            <a  href="#rechazadas" 
                aria-controls="rechazadas" 
                role="tab" 
                data-toggle="tab">
                Rechazadas
            </a>
        </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
        <!-- Validadas -->
        <div role="tabpanel" class="tab-pane active" id="activas">
            <li>Actividades Validadas</li>
            <li>Actividades Validadas</li>
            <li>Actividades Validadas</li>
            <li>Actividades Validadas</li>
            <li>Actividades Validadas</li>
        </div>
        <!-- Espera -->
        <div role="tabpanel" class="tab-pane" id="espera">
            <li>Actividades en espera</li>
            <li>Actividades en espera</li>
            <li>Actividades en espera</li>
            <li>Actividades en espera</li>
            <li>Actividades en espera</li>
        </div>
        <!-- Rechazadas -->
        <div role="tabpanel" class="tab-pane" id="rechazadas">
            <li>Actividades Rechazadas</li>
            <li>Actividades Rechazadas</li>
            <li>Actividades Rechazadas</li>
            <li>Actividades Rechazadas</li>
            <li>Actividades Rechazadas</li>
        </div>

        </div>
        </div>
        </div>
        </div>

{{end}}                                    

{{block script}}

    <script>
        $(document).ready(function(){
            $("#dv-act").hide();
            $("#dv-rec").hide();
            $("#dv-esp").hide();

            $("#btn-act").click(function(){
            $("#dv-act").toggle(300);
                });

            $("#btn-rec").click(function(){
            $("#dv-rec").toggle(300);
                });

            $("#btn-esp").click(function(){
            $("#dv-esp").toggle(300);
                });                            
            });
    </script>
{{end}}
