{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    Bienvenido al SIRADEX
{{end}}

{{block subtitulo}}
    <!-- Nombre del usuario -->
    Sergio Alejandro
    <!-- icono editar -->
    <a id="editar" href="{{=URL('vEditarPerfil')}}" >
    {{=IMG(_src=URL('static', 'icon', args='i_edit.png'),_style='max-height:1em') }} 
    </a>
{{end}}

{{block descripcion}}
    <div class="row"> 
        <div class="col-lg-6">
        <!-- Datos del usuario -->
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sed corporis dolores totam excepturi commodi nobis expedita quo officiis sint facere id dicta rerum dolor amet, obcaecati aliquam fugit perspiciatis                           
            </p>
        </div>
    <div class="col-lg-6">
        AQUI VA LA GRAFICA
    </div>
    </div>
{{end}}

{{block contenido}}
<div class="row">
    <div class="col-lg-12">
    <ul class="list-group" id="striped-list">
        <!-- Activas -->
            <li class="list-group-item" id='btn-act' style="background-color: #388E3C;">
                <h3>
                    Activas
                    <span class="caret"></span>
                </h3>
            </li>
            <div id='dv-act'>
                <ul class="list-group" id="striped-sublist">
                    <li class="list-group-item">Actividad 1</li>
                    <li class="list-group-item">Actividad 2</li>
                    <li class="list-group-item">Actividad 3</li>
                    <li class="list-group-item">Actividad 4</li>
                    <li class="list-group-item">Actividad 5</li>
                </ul>
            </div>
       
        <!-- En Espera -->
            <li class="list-group-item" id='btn-esp' style="background-color: #455A64;">
                <h3>
                    En Espera
                    <span class="caret"></span>
                </h3>
            </li>
            <div id='dv-esp'>
                <ul class="list-group" id="striped-sublist">
                    <li class="list-group-item">Actividad 1</li>
                    <li class="list-group-item">Actividad 2</li>
                    <li class="list-group-item">Actividad 3</li>
                    <li class="list-group-item">Actividad 4</li>
                    <li class="list-group-item">Actividad 5</li>
                </ul>
            </div>
        
        <!-- Rechazadas --> 
            <li class="list-group-item" id='btn-rec' style="background-color: #F44336;">
                <h3>
                    Rechazadas
                    <span class="caret"></span>
                </h3>
            </li>
            <div id='dv-rec'>
                <ul class="list-group" id="striped-sublist">
                    <li class="list-group-item">Actividad 1</li>
                    <li class="list-group-item">Actividad 2</li>
                    <li class="list-group-item">Actividad 3</li>
                    <li class="list-group-item">Actividad 4</li>
                    <li class="list-group-item">Actividad 5</li>
                </ul>
            </div>        
    </div>
</div>
{{end}}                                    

{{block script}}

    <script>
        $(document).ready(function(){
            $("#dv-act").hide();
            $("#dv-rec").hide();
            $("#dv-esp").hide();

            $("#btn-act").click(function(){
            $("#dv-act").toggle(300);
                });

            $("#btn-rec").click(function(){
            $("#dv-rec").toggle(300);
                });

            $("#btn-esp").click(function(){
            $("#dv-esp").toggle(300);
                });                            
            });
    </script>

{{end}}

