{{ extend 'layoutSIRADEXloged.html' }}

{{block titulo}}
    Agregar Usuario
{{end}}

{{block descripcion}}
            <br/>
            <div id = "error" style="color:#F44336">
                {{=message}}
            </div>
{{end}}

				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
{{block contenido}}
        <div class="row">
             <div class="col-md-10 col-md-offset-1">
             <div class="card">
                {{=form}} 
                 
             </div>
             </div>
         </div> 

         <div class="col-md-6 col-md-offset-3">
         <center>
         {{ if bool == 1: }}
            <li><a class ='btn blue-add btn-block btn-border' href='vGestionarUsuarios'>
             Continuar
            </a></li>
            </center>
         </div>
         
        {{ pass }}
{{end}}