{{ extend 'layoutSIRADEXloged.html' }}

{{block titulo}}
    Agregar Usuario
{{end}}

{{block descripcion}}
            <br/>
            <div id = error>
                {{=message}}
            </div>
{{end}}

				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
{{block contenido}}
    <div>
        <div class=" container-fluid col-xs-4 col-md-offset-4">
         {{=form}}
         {{ if bool == 1: }}
            <li><a class ='btn btn-primary btn-xs' href='vGestionarUsuarios'>
            <span class="glyphicon glyphicon-user"></span>
             Continuar
            </a></li>
        {{ else: }}
        {{ pass }}
        </div>
        <div class="container-fluid col-md-4">
        </div>
    </div>
{{end}}