{{ extend 'layoutSIRADEXloged.html' }}

{{block titulo}}
    Agregar Usuario
{{end}}

{{block descripcion}}
            <br/>
            <div id = error>
                {{=message}}
            </div>
{{end}}

				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
{{block contenido}}
         {{=form}}

         <div class="col-md-6 col-md-offset-3">
         <center>
         {{ if bool == 1: }}
            <li><a class ='btn blue-add btn-block btn-border' href='vGestionarUsuarios'>
             Continuar
            </a></li>
            </center>
         </div>
        {{ pass }}
{{end}}