{{#include 'layout.html'}}
{{ extend 'SIRADEXLayout.html' }}

                <h3 id = "titulo"> Gestión de Usuarios </h4>
                <h4>
                    <a href = "{{=URL('vAgregarUsuario')}}">
                        {{=IMG(_src=URL('static', 'iconos/Add_26x26.png')) }}
                        Agregar Usuario
                    </a>
                </h4>
                <div id = "error">
                    {{=message}}
                </div>
                <br/>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="col-md-4"><b>Usbid</b></td>
                            <td class="col-md-5"><b>Nombres</b></td>
                            <td class="col-md-6"><b>Apellidos</b></td>
                            <td class="col-md-7"><b>Tipo</b></td>
                            <td class="col-md-1"> </td>
                            <td class="col-md-1"> </td>
                        </tr>
                    </thead>
                    <tbody>
                        {{for usuario in usuarios:}}
                            <tr>
                                <td class="col-md-4">
                                    {{ =usuario.usbid}}
                                </td>
                                <td class="col-md-5">{{ =usuario.nombres}}</td>
                                <td class="col-md-6">{{ =usuario.apellidos}}</td>
                                <td class="col-md-7">{{ =usuario.tipo}}</td>
                                <td class="col-md-1">
                                    <a href = "{{=URL(f='vModificarRol', args=[ usuario.usbid ] )}}">
                                        {{=IMG(_src=URL('static', 'iconos/Edit.png')), }}
                                    </a>
                                </td>
                                <td class="col-md-1">
                                    <a onClick = "if(confirm('¿Está seguro de que desea eliminar al usuario?')) {window.location.href = '{{=URL(f='vEliminarUsuario',args=[ usuario.usbid ] )}}';}">
                                        {{=IMG(_src=URL('static', 'iconos/Delete.png')), }}
                                    </a>
                                </td>
                            </tr>
                        {{pass}}
                    </tbody>
                </table>
