<!DOCTYPE html>
{{include 'layout.html'}}
<html>
	<head>
		<meta charset = "UTF-8">
		{{include 'web2py_ajax.html'}}
		<!-- hago el link con el CSS de esta pagina -->
		<link href="{{=URL('static', 'css/menuPrincipal.css')}}" rel="stylesheet" type="text/css" />
		<title> SIRADEX </title>
		
	</head>

	<body>
		<header>
			<!-- Banner de SIRADEX -->
			<div id = "logo">
				{{=IMG(_src=URL('static', 'images/banner.jpg')) }}
			</div>
			<!-- Menu del headder -->
			<nav>
				<ul>
                    <li><a class ='btn btn-primary btn-xs' href='logout_cas'>
                    <span class="glyphicon glyphicon-user"></span>
                     Cerrar Sesion
                    </a></li>
                    <li> | </li>
					<li><a href = "#">Ayuda</a></li>
					<li> | </li>
					<li><a href = "#">Contáctenos</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='busq_val', f='busqueda')}}">Busqueda</a></li>
					<li> | </li>
					<li><a href = "{{=URL('vVerPerfil')}}">Ver Perfil</a></li>
                    {{ if admin == 1: }}
                    <li> | </li>
					<li><a href = "{{=URL('vMenuAdmin')}}">Administrador</a></li>
					<li> | </li>
                    <li><a href = "{{=URL('vMenuDex')}}">DEX</a></li>
                    {{ elif admin == 2: }}
                    <li> | </li>
                    <li><a href = "{{=URL('vMenuDex')}}">DEX</a></li>
                    {{else:}}
                    {{pass}}
                    <li> | </li>
                    <li><a href = "{{=URL('vMenuPrincipal')}}">Inicio</a></li>
				</ul>
			</nav>
		</header>
			
		<!-- Contenido principal de la pagina -->
		<section class = "main">
			<!-- Menu de navegacion lateral -->
			<aside>
				<ul>
					<li id="layout_aside_gestionar">
                        <h4> Gestionar:</h4>
                    </li>
                    <li id="layout_aside_agregar_tipo">
                        <a href="#">
                            Búsquedas Avanzadas
                        </a>
                    </li>
					<li id=layout_aside_tipos_de_actividad>
                        <a href="{{=URL(c='tipo_actividad', f='gestionar.html')}}">
                            Tipos de Actividad
                        </a>
                    </li>
					<li id="layout_aside_agregar_tipo">
                        <a href="{{=URL(c='busq_val', f='gestionar_validacion.html')}}">
                            Validaciones
                        </a>
                    </li>
				</ul>
			</aside>
			<h4>
			    <div id="bienvenido">  Bienvenido al SIRADEX </div>
			</h4>
			<h4>
				<div id="mostrar"> No hay Actividad que mostrar </div>
			</h4>
			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
				
				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
				

			</section><!-- close contenido -->
			
		</section><!-- close main -->
		
		
		<!-- Es un footer pues -->
		<footer>
			<nav>
				<ul>
					<li><a href = "#">Buscador</a></li>
					<li> | </li>
					<li><a href = "#">Webmail</a></li>
					<li> | </li>
					<li><a href = "#">Aula Virtual USB</a></li>
					<li> | </li>
					<li><a href = "#">Directorio USB</a></li>
					<li> | </li>
					<li><a href = "#">Calendario</a></li>
				</ul>
			</nav>
		</footer>

	</body>
</html>
