<!DOCTYPE html>
{{#include 'layout.html'}}
{{ extend 'SIRADEXLayout.html' }}
<html>
	<head>
		<meta charset = "UTF-8">
		{{include 'web2py_ajax.html'}}
		<!-- hago el link con el CSS de esta pagina -->
		<title> SIRADEX </title>

	</head>
    <body>
        <h3>
			<div id="bienvenido">  Bienvenido al SIRADEX </div>
		</h3>
			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
			</section><!-- close contenido -->
		</section><!-- close main -->

	</body>
</html>
