{{ extend 'SIRADEXLayout.html' }}
{{#include 'layout.html'}}
		<!-- Contenido principal de la pagina -->
		<section class = "main">
			<!-- Menu de navegacion lateral -->
			<!-- <aside>
				<ul>
					<li id="layout_aside_gestionar">
                        <h4> Gestionar:</h4>
                    </li>
                    <li id="layout_aside_backups">
                        <a href="#">
                            Backups
                        </a>
                    </li>
					<li id="layout_aside_catalogos">
                        <a href="{{=URL(c='catalogo', f='vGestionarCatalogo')}}">
                            Catalogos
                        </a>
                    </li>
                    <li id="layout_aside_logs">
                        <a href="#">
                            Logs
                        </a>
                    </li>
					<li id="layout_aside_usuarios">
                        <a href="vGestionarUsuarios">
                            Usuarios
                        </a>
                    </li>
				</ul>
			</aside> -->
			<h4>
			    <div id="bienvenido">  Bienvenido al SIRADEX </div>
			</h4>
			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
				
				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
				

			</section><!-- close contenido -->
			
		</section><!-- close main -->
