{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    <h2> <center> Gestión de Catálogos </center> </h2>
{{end}}


{{block contenido}}
<!-- Nav tabs -->

<div class="row">
    <div class="col-sm-5 col-sm-push-9" style="margin-top:10px; ; margin-left:30px">
        <button type="button" class="btn btn-default green btn-border" data-toggle="modal" data-target="#myModalAgregar">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Catálogo
        </button>
    </div>
</div>
<br>
<div class="card">
  <ul class="nav nav-tabs" role="tablist">
  {{for catalogo in catalogos:}}
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#{{ = catalogo[0].id}}" role="tab" id="Cat{{= catalogo[0].id}}">{{= catalogo[0].nombre}}</a>
    </li>
   {{pass}}
  </ul>

  <div class="tab-content">
    {{for catalogo in catalogos:}}
      <div class="tab-pane {{='active' if catalogo == catalogos[0] else ''}}" id="{{= catalogo[0].id}}" role="tabpanel">
            <ul class="list-group">
                {{if len(catalogo[1]) == 0:}}
                <li class="list-group-item">
                  <div class="row">
                      <div class="col-sm-4">
                        <p>Este catalogo aun no tiene capos.</p>
                      </div>
                  </div>
                </li>
                {{else:}}
                    {{for campo in catalogo[1]:}}
                      <li class="list-group-item">
                          <div class="row">
                              <div class="col-sm-4">
                                  {{= campo.nombre}}
                              </div>
                              <div class="col-sm-4">
                                  {{= campo.tipo_campo}}
                              </div>
                              <div class="col-sm-2">
                                  {{= campo.obligatorio}}
                              </div>
                              <div class="col-sm-1">
                                  <span class="glyphicon glyphicon-edit blue" data-toggle="modal" data-target="#elemModificar"></span>
                              </div>
                              <div class="col-sm-1">
                                  <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#elemEliminar"></span>
                              </div>
                          </div>
                      </li>
                    {{pass}}
                  {{pass}}
              </ul>
              <div class="row">
                  <center>
                    <div class="col-sm-2 col-sm-offset-4">
                        <button type="button" class="btn btn-default btn-block green btn-border" data-toggle="modal" data-target="#myModalEditar">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Editar
                        </button>
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-default btn-block red-trash btn-border" data-toggle="modal" data-target="#myModalDelete">
                          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Eliminar
                      </button>
                    </div>
                  </center>
              </div>
        </div>
      {{pass}}
  </div>
</div>

<!-- Modal Agregar-->
<div id="myModalAgregar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title"> Agregar Catálogo </h4><center>
      </div>
      <div class="modal-body">
          <p><center>{{ = formulario_agregar}} </center> </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div id="myModalEditar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title"> < Nombre del Catalogo > </h4><center>
      </div>
      <div class="modal-body">
          <p><center> Formulario para editar Catálogo </center> </p>
      </div>
    </div>
  </div>
</div>

<div id="elemModificar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title"> Editar Elemento </h4><center>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-sm-3" for="email"> < campo 1> </label>
                <div class="col-sm-9">
                  <input class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3" for="pwd"> < campo 2 > </label>
                <div class="col-sm-9">
                  <input class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn blue-add btn-block btn-border">Editar</button>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->
<div class="container">
  <div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Eliminar Catálogo</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>Está seguro que quiere eliminar este Catálogo.</p> </center>
            <br>
            <center>
                <a>
                  <button type="button" class="btn blue-add btn-border">Eliminar</button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar Elementos-->
<div class="container">
  <div class="modal fade" id="elemEliminar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Eliminar Elemento del Catálogo</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>Está seguro que quiere eliminar este Elemento del Catálogo.</p> </center>
            <br>
            <center>
                <a>
                  <button type="button" class="btn blue-add btn-border">Eliminar</button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("Catalogo1").click();
    });
</script>


{{end}}
