{{ extend 'SIRADEXLayout.html' }}
        <!-- Contenido principal de la pagina -->
        <section class = "main">
            <section class = "contenido">
                <div class = "session_message">
                    {{ =session.message or ''}}
                </div>
                <h3 id = "titulo"> Catalogo {{= nombre_catalogo}} </h3>
                <h4>
                    <a href = "{{=URL(f='vModificarCatalogo',args = [id_catalogo])}}">
                        {{=IMG(_src=URL('static', 'iconos/Add_26x26.png')) }}
                        Agregar Campos
                    </a>
                </h4>
                <br>
                <div id = 'campos' >
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="col-md-6">Nombre del Campo</td>
                                <td class="col-md-3">Tipo</td>
                                <td class="col-md-2">Obligatorio</td>
                                <td class="col-md-1">Editar</td>
                                <td class="col-md-2">Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{if len(campos_guardados) > 0 :}}
                                {{for campo in campos_guardados:}}
                                    <tr>
                                        <td class="col-md-6">{{=campo.nombre}}</td>
                                        <td class="col-md-3">{{=campo.tipo_campo}}</td>
                                        {{if campo.obligatorio:}}
                                            <td class="col-md-2">Si</td>
                                        {{else:}}
                                             <td class="col-md-2">No</td>
                                        {{pass}}
                                        <td class="col-md-1">
                                          <a href = "{{=URL(f='vModificarCatalogo', args=[campo.id_campo_cat])}}">
                                              {{=IMG(_src=URL('static', 'iconos/Edit.png')), }}
                                          </a>
                                        </td>
                                        <td class="col-md-2">
                                            <a onClick = "if(confirm('¿Está seguro de que desea eliminar el campo?')) {window.location.href = '{{=URL(f='eliminarCampos',args=[campo.id_campo_cat, campo.id_catalogo])}}';}">
                                                        {{=IMG(_src=URL('static', 'iconos/Delete.png')), }}
                                                        </a>
                                        </td>
                                     </tr>
                                {{pass}}
                              {{else:}}
                                <tr>
                                  <h4>Este catalogo aun no tiene campos agregados</h4>
                                </tr>
                              {{pass}}
                        </tbody>
                    </table>
                </div>
                <br/>
            </section><!-- close main -->
        </section>
