{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<html>
<head>
    <!--*********************************************
    **********************************************-->
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title> SIRADEx - {{block titulo}}{{end}}</title>
    <!--*********************************************
        Extend e include
    **********************************************-->
        {{include 'web2py_ajax.html'}}
        {{response.files.append(URL('static','css/layoutStyle.css'))}}

    <!--*********************************************
        Link con bootstrap, CSS y JavaScript
    **********************************************-->
        <link   href="{{=URL('static', 'css/layoutStyle.css')}}"
                rel="stylesheet"
                type="text/css" />

        <link   href="{{=URL('static', 'js/web2py.js')}}" />
        
        <link   rel="shortcut icon" 
                href="{{=URL('static','iconos/favicon.ico')}}" 
                type="image/x-icon">

        <link   href="{{=URL('static', 'css/bootstrap.css')}}"
                rel="stylesheet"
                type="text/css" />

        <link   href="{{=URL('static', 'css/jquery-ui.css')}}"
                rel="stylesheet"
                type="text/css" />

        <link   href="{{=URL('static', 'css/jquery-ui.theme.css')}}"
                rel="stylesheet"
                type="text/css" />  

         <link  href="{{=URL('static', 'css/jquery-ui.structure.css')}}"
                rel="stylesheet"
                type="text/css" />               
    
        <link href="{{=URL('static','css/font-awesome.css')}}" 
              rel="stylesheet">
        
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body style="position: relative;min-height: 100%;top: 0px;">
    <!--*********************************************
        MAIN
    *********************************************-->
      <div class="container">
          <div clas="row">        
          <div id="degradado" class="col-md-10 col-md-offset-1">    
            <!--*********************************************
                HEADER
            **********************************************--> 
              <header>   
                  <!--*********************************************
                      Banner SiraDex
                  **********************************************--> 
                      <!---->
                  
                  <a href="{{=URL(c='default',f='index')}}">
                          {{=IMG(_src=URL('static', 'images', args='banner.jpg')) }} 
                  </a>
                  <!--*********************************************
                      Navegacion
                  **********************************************-->
                  {{block navegacion}}
                  {{end}}
              </header>
            <!--*********************************************
                CONTENIDO PAGINA
            **********************************************-->
              <section id = "contenido">
                <!--*********************************************
                    Titulo
                **********************************************-->
                  <h1 id="titulo">
                    {{block titulo}}
                    {{end}}
                  </h1>

                  <h2 id="subtitulo">
                    {{block subtitulo}}
                    {{end}}
                  </h2>

                <!--*********************************************
                    Descripcion pagina
                **********************************************-->
                  {{block descripcion}}
                  {{end}}

                <!--*********************************************
                    Contenido
                **********************************************-->
                  {{block contenido}}
                  {{end}}
              </section>
          </div>
          </div>
      </div>

    <!--*********************************************
        FOOTER
    *********************************************-->
    <div id="footer" class="container-fluid">                  
      Sartenejas, Baruta, Edo. Miranda - Apartado 89000 Cable Unibolivar Caracas Venezuela. Teléfono +58 0212-9063111
      <br>
      Litoral. Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 0212-9069000 
    </div>     

    <!--*********************************************
        JavaScript de bootstrap
    *********************************************-->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
        <script src="{{=URL('static','js/bootstrap-filestyle.min.js')}}"> </script>
        <script src="{{=URL('static','js/jquery-ui.js')}}"> </script>
        
        {{block script}}{{end}}
</body>
</html>
