{{extend 'layoutSIRADEX.html'}}

{{block navegacion}}

<nav class="navbar navbar-default" style="border-color:#FFF">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!--
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input    type="text" 
                    class="form-control" 
                    id="form-busqueda" 
                    placeholder="Divierte con nuestro buscador">

        <span class="input-group-btn">
        <button type="submit" 
                class="btn btn-default" 
                id="btn-lupa">
                O
        </button>
        </span>
        </div>
      </form>
    -->
      <ul class="nav navbar-nav navbar-right">
            <!--Opciones administrador-->
            {{ if admin in [1,2]: }}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="{{=URL(c='default', f='setVista.html', args=[2])}}"> Sistema</a>
                <ul class="dropdown-menu" style="right:auto">
                    {{if admin == 1:}}
                    <li><a href="#">Consultar Log</a></li>

                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Backup</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ver Backup</a></li>
                            <li><a href="#">Crear Backup</a></li>
                        </ul>
                    </li>
                    <li><a href="{{=URL(c='usuarios', f='gestionar')}}">Usuarios</a></li>
                    <li><a href="#">Notificaciones</a></li>
                    <li role="separator" class="divider"></li>
                    {{pass}}
                    <li><a href="{{=URL(c='catalogo', f='vGestionarCatalogos')}}">Catálogos</a></li>
                    <li><a href="#">Papelera</a></li>
                </ul>
            </li>
            <li><a href="{{=URL(c='busq_val', f='gestionar_validacion.html')}}">
                Solicitudes
            </a></li>

            <li><a href="{{=URL(c='programas', f='gestionar_programas.html')}}">
                Programas
            </a></li>

            {{ pass }}

            <!--Opciones basicas-->

                <!--Cierre de sesion-->
                <li class="dropdown activo">
                    <a  class="dropdown-toggle" 
                        data-toggle="dropdown" 
                        href="{{=URL(c='default', f='perfil', args=[2])}}"> {{=session.usuario['first_name'].split(' ',1)[0]}} {{=session.usuario['last_name'].split(' ',1)[0]}}
                    </a>
                    <ul class="dropdown-menu" style="right:auto">
                        <li><a href="{{=URL(c='default',f='perfil')}}">Ver Perfil</a></li>
                        <li><a href="{{=URL(c='default',f='EditarPerfil')}}">Editar Perfil</a></li>
                        <li><a href="{{=URL(c='producto',f='gestionar')}}">Mis Productos</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                        <!--Cierre de sesion-->
                        <a href="{{=URL(c='default', f='logout_cas')}}">
                                Cerrar Sesión
                        </a>
                        </li>
                    </ul>
            </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{end}}

{{block footer}}
<!--         <div class="row">
    <div class="col-md-3 col-md-offset-1">
        AQUI VA OPCIONES DE COLORES
            <div class="btn-group dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tema <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Default</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Amarillo</a></li>
                <li><a href="#">Rosa</a></li>
                <li><a href="#">Verde</a></li>
              </ul>
            </div>
    </div>
    <div class="col-md-7"> -->

    <div id="footer" class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
{{end}}