<!DOCTYPE html>

<html>
	<head>
		<meta charset = "UTF-8">
		{{include 'web2py_ajax.html'}}
		{{response.files.append(URL('static','css/layoutStyle.css'))}}
		<!-- hago el link con el CSS de esta pagina -->
		<link href="{{=URL('static', 'css/layoutStyle.css')}}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<title> SIRADEX </title>
		
	</head>

	<body>
		<header>
			<!-- Banner de SIRADEX -->
			<div id = "logo">
				{{=IMG(_src=URL('static', 'images/banner.jpg')) }}
			</div>
			
			<!-- Menu del headder -->
<nav>
				<ul>
                    <li><a class ='btn btn-primary btn-xs' href="{{=URL(c='default',f='logout_cas')}}">
                    <span class="glyphicon glyphicon-user"></span>
                     Cerrar Sesion
                    </a></li>
                    <li> | </li>
					<li><a href = "#">Ayuda</a></li>
					<li> | </li>
					<li><a href = "#">Contáctenos</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='busq_val', f='busqueda.html')}}">Busqueda</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='default',f='vMenuPrincipal')}}">Inicio</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='default',f='vVerPerfil')}}">Ver Perfil</a></li>
                    {{ if admin == 1: }}
                    <li> | </li>
					<li><a href = "{{=URL(c='default',f='vMenuAdmin')}}">Administrador</a></li>
					<li> | </li>
                    <li><a href = "{{=URL(c='default',f='vMenuDex')}}">DEX</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='default',f='vMenuPrincipal')}}">Usuario</a></li>
                    {{ elif admin == 2: }}
                    <li> | </li>
                    <li><a href = "{{=URL(c='default',f='vMenuDex')}}">DEX</a></li>
					<li> | </li>
					<li><a href = "{{=URL(c='default',f='vMenuPrincipal')}}">Usuario</a></li>
                    {{else:}}
                    {{pass}}
					<!-- No se como hacer esto en web2py --^  -->
				</ul>
			</nav>
		</header>
		<!-- Contenido principal de la pagina -->
		<section class = "main">
			<!-- Menu de navegacion lateral -->
			<aside>
				<ul>
					<li id="layout_aside_gestionar">
                        <h4> Gestionar:</h4>
                    </li>
                    <li id="layout_aside_agregar_tipo">
                        <a href="#">
                            Búsquedas Avanzadas
                        </a>
                    </li>
					<li id=layout_aside_tipos_de_actividad>
                        <a href="{{=URL(c='tipo_actividad', f='gestionar.html')}}">
                            Tipos de Actividad
                        </a>
                    </li>
					<li id="layout_aside_agregar_tipo">
                        <a href="{{=URL(c='busq_val', f='gestionar_validacion.html')}}">
                            Validaciones
                        </a>
                    </li>
				</ul>
			</aside>
			
			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
				
				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->
				{{include}}

			</section><!-- close contenido -->
			
		</section><!-- close main -->
		
		
		<!-- Es un footer pues -->
        <footer>
			<nav>
				<ul>
					<li><a href = "#">Buscador</a></li>
					<li> | </li>
					<li><a href = "#">Webmail</a></li>
					<li> | </li>
					<li><a href = "#">Aula Virtual USB</a></li>
					<li> | </li>
					<li><a href = "#">Directorio USB</a></li>
					<li> | </li>
					<li><a href = "#">Calendario</a></li>
					<!-- No se como hacer esto en web2py --^  -->
				</ul>
			</nav>
		</footer>

	</body>
</html>
