{{ extend 'layoutSIRADEXloged.html' }}

{{block titulo}}
    Gestión de Usuarios
{{end}}

{{block descripcion}}
    <div id = "error">
        {{=message}}
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-9">
        <!-- Datos del usuario -->
                <div style="margin-bottom: 1em;">
                  <a href="{{=URL(c='usuarios',f ='agregar')}}">
                  <button type="button" id="agregarProgBtn" class="btn btn-default green btn-border">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Usuario
                  </button>
                  </a>
                </div>
            <!-- <p class="text-justify">
            </p> -->
        </div>
    </div>
{{end}}

{{block contenido}}


    <!-- Custom DataTables plugin -->
    <script src="{{=URL('static','DataTables/datatables.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','DataTables/datatables.css')}}">

    <script type="text/javascript">
      $(document).ready(function(){
        var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar:",
                searchPlaceholder: "",
                lengthMenu:     "Mostrar _MENU_ entradas",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "Mostrando 0 a 0 de 0 entradas",
                infoFiltered:   "(filtradas de _MAX_ entradas en total)",
                infoPostFix:    "",
                loadingRecords: "Carga en curso...",
                zeroRecords:    "No se encontraron programas en la busqueda",
                emptyTable:     "No hay informacion disponible en la tabla",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Ultimo"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente",
                    sortDescending: ": Se ordenan las columnas por orden decreciente"
                }
            },
             "columns": [
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        };
        
        // Asume que cada tabla de usuario tiene el mismo número de columnas
        var cantidadColumnas = $("#administradoresTable thead th").length;
        columnas = [];
        for (var i = 0; i<cantidadColumnas; i++){
          columnas.push({ "orderable": false });
        }
        opciones["columns"] = columnas;
        $("#administradoresTable").DataTable(opciones);
        $("#DExTable").DataTable(opciones);
        $("#usuariosTable").DataTable(opciones);
        $("#bloqueadosTable").DataTable(opciones);
        $("#indefinidosTable").DataTable(opciones);
      });
    </script>


    <div class="row">
    <div class="col-md-12">
        <div class="card">
                <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a  href="#admin"
                aria-controls="admin"
                role="tab"
                data-toggle="tab">
                Administrador
            </a>
        </li>

        <li role="presentation">
            <a  href="#user"
                aria-controls="user"
                role="tab"
                data-toggle="tab">
                Usuario
            </a>
        </li>

        <li role="presentation">
            <a  href="#dex"
                aria-controls="dex"
                role="tab"
                data-toggle="tab">
                DEX
            </a>
        </li>

        <li role="presentation" class='rec'>
            <a  href="#bloq"
                aria-controls="bloq"
                role="tab"
                data-toggle="tab">
                Bloqueado
            </a>
        </li>

        <li role="presentation" class='rec'>
            <a  href="#indef"
                aria-controls="indef"
                role="tab"
                data-toggle="tab">
                Indefinido
            </a>
        </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
        <!-- Administradores -->
        <div role="tabpanel" class="tab-pane active" id="admin">
            <table id="administradoresTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Usbid </th>
                        <th class="hColumns">Nombres </th>
                        <th class="hColumns">Apellidos </th>
                        <th class="hColumns text-center">Contactar </th>
                        <th class="hColumns text-center">Modificar </th>
                        <th class="hColumns text-center">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                {{for usuario in usuarios:}}
                    {{if usuario.tipo == 'Administrador':}}
                    <tr class="clickable">
                        <td class="hColumns center-vertically">{{ =usuario.usbid}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.nombres}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.apellidos}}</td>

                        <!-- Boton Contactar -->
                        <td class="hColumns text-center center-vertically">
                            <button type="button" data-toggle="modal"
                                                  data-target="#modalContactarUsuario"
                                                  data-id-usuario="{{=usuario.usbid}}"
                                                  class="glyphicon glyphicon-envelope green-icn"
                                                  aria-hidden="true" style="border:none;background:none;color:#337ab7;">
                              <!-- <span  aria-hidden="true"></span> -->
                            </button>
                        </td>

                        <!-- Boton Modificar -->
                        <td class="hColumns text-center center-vertically">
                            <a href="{{=URL(c='usuarios',f='modificar', args=[ usuario.usbid ] )}}">
                                <span class="glyphicon glyphicon-edit green-icn"></span>
                            </a>
                        </td>

                        <!-- Boton Eliminar -->
                        <td class="hColumns text-center center-vertically">
                            <a>
                               <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarUsuario"
                                      data-link-eliminar="{{=URL(c='usuarios',f='eliminar', args=[usuario.usbid])}}"></span>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                {{pass}}
                </tbody>
            </table>
        </div>
        <!-- Usuarios -->
        <div role="tabpanel" class="tab-pane" id="user">
             <table id="usuariosTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Usbid </th>
                        <th class="hColumns">Nombres </th>
                        <th class="hColumns">Apellidos </th>
                        <th class="hColumns text-center">Contactar </th>
                        <th class="hColumns text-center">Modificar </th>
                        <th class="hColumns text-center">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                {{for usuario in usuarios:}}
                    {{if usuario.tipo == 'Usuario':}}
                    <tr class="clickable">
                        <td class="hColumns center-vertically">{{ =usuario.usbid}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.nombres}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.apellidos}}</td>

                        <!-- Boton Contactar -->
                        <td class="hColumns text-center center-vertically">
                            <button type="button" data-toggle="modal"
                                                  data-target="#modalContactarUsuario"
                                                  data-id-usuario="{{=usuario.usbid}}"
                                                  class="glyphicon glyphicon-envelope green-icn"
                                                  aria-hidden="true" style="border:none;background:none;color:#337ab7;">
                              <!-- <span  aria-hidden="true"></span> -->
                            </button>
                        </td>

                        <!-- Boton Modificar -->
                        <td class="hColumns text-center center-vertically">
                            <a href="{{=URL(c='usuarios',f='modificar', args=[ usuario.usbid ] )}}">
                                <span class="glyphicon glyphicon-edit green-icn"></span>
                            </a>
                        </td>

                        <!-- Boton Eliminar -->
                        <td class="hColumns text-center center-vertically">
                            <a>
                               <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarUsuario"
                                      data-link-eliminar="{{=URL(c='usuarios',f='eliminar', args=[usuario.usbid])}}"></span>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                {{pass}}
                </tbody>
            </table>
        </div>
        <!--  DEX -->
        <div role="tabpanel" class="tab-pane" id="dex">
            <table id="DExTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Usbid </th>
                        <th class="hColumns">Nombres </th>
                        <th class="hColumns">Apellidos </th>
                        <th class="hColumns text-center">Contactar </th>
                        <th class="hColumns text-center">Modificar </th>
                        <th class="hColumns text-center">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                {{for usuario in usuarios:}}
                    {{if usuario.tipo == 'DEX':}}
                    <tr class="clickable">
                        <td class="hColumns center-vertically">{{ =usuario.usbid}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.nombres}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.apellidos}}</td>

                        <!-- Boton Contactar -->
                        <td class="hColumns text-center center-vertically">
                            <button type="button" data-toggle="modal"
                                                  data-target="#modalContactarUsuario"
                                                  data-id-usuario="{{=usuario.usbid}}"
                                                  class="glyphicon glyphicon-envelope green-icn"
                                                  aria-hidden="true" style="border:none;background:none;color:#337ab7;">
                              <!-- <span  aria-hidden="true"></span> -->
                            </button>
                        </td>

                        <!-- Boton Modificar -->
                        <td class="hColumns text-center center-vertically">
                            <a href="{{=URL(c='usuarios',f='modificar', args=[ usuario.usbid ] )}}">
                                <span class="glyphicon glyphicon-edit green-icn"></span>
                            </a>
                        </td>

                        <td class="hColumns text-center center-vertically">
                            <a>
                               <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarUsuario"
                                      data-link-eliminar="{{=URL(c='usuarios',f='eliminar', args=[usuario.usbid])}}"></span>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                {{pass}}
                </tbody>
            </table>
        </div>
        <!-- Bloqueados -->
        <div role="tabpanel" class="tab-pane" id="bloq">
            <table id="bloqueadosTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Usbid </th>
                        <th class="hColumns">Nombres </th>
                        <th class="hColumns">Apellidos </th>
                        <th class="hColumns text-center">Contactar </th>
                        <th class="hColumns text-center">Modificar </th>
                        <th class="hColumns text-center">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                {{for usuario in usuarios:}}
                    {{if usuario.tipo == 'Bloqueado':}}
                   <tr class="clickable">
                        <td class="hColumns center-vertically">{{ =usuario.usbid}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.nombres}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.apellidos}}</td>

                        <!-- Boton Contactar -->
                        <td class="hColumns text-center center-vertically">
                            <button type="button" data-toggle="modal"
                                                  data-target="#modalContactarUsuario"
                                                  data-id-usuario="{{=usuario.usbid}}"
                                                  class="glyphicon glyphicon-envelope green-icn"
                                                  aria-hidden="true" style="border:none;background:none;color:#337ab7;">
                              <!-- <span  aria-hidden="true"></span> -->
                            </button>
                        </td>

                        <!-- Boton Modificar -->
                        <td class="hColumns text-center center-vertically">
                            <a href="{{=URL(c='usuarios',f='modificar', args=[ usuario.usbid ] )}}">
                                <span class="glyphicon glyphicon-edit green-icn"></span>
                            </a>
                        </td>

                        <td class="hColumns text-center center-vertically">
                            <a>
                               <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarUsuario"
                                      data-link-eliminar="{{=URL(c='usuarios',f='eliminar', args=[usuario.usbid])}}"></span>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                {{pass}}
                </tbody>
            </table>
        </div>
        <!-- Indefinido -->
        <div role="tabpanel" class="tab-pane" id="indef">
            <table id="indefinidosTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Usbid </th>
                        <th class="hColumns">Nombres </th>
                        <th class="hColumns">Apellidos </th>
                        <th class="hColumns text-center">Contactar </th>
                        <th class="hColumns text-center">Modificar </th>
                        <th class="hColumns text-center">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                {{for usuario in usuarios:}}
                    {{if usuario.tipo not in ['Bloqueado','Administrador','Usuario','DEX']:}}
                    <tr>
                        <td class="hColumns center-vertically">{{ =usuario.usbid}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.nombres}}</td>
                        <td class="hColumns center-vertically">{{ =usuario.apellidos}}</td>
                        
                        <!-- Boton Contactar -->
                        <td class="hColumns text-center center-vertically">
                            <button type="button" data-toggle="modal"
                                                  data-target="#modalContactarUsuario"
                                                  data-id-usuario="{{=usuario.usbid}}"
                                                  class="glyphicon glyphicon-envelope green-icn"
                                                  aria-hidden="true" style="border:none;background:none;color:#337ab7;">
                              <!-- <span  aria-hidden="true"></span> -->
                            </button>
                        </td>

                        <!-- Boton Modificar -->
                        <td class="hColumns text-center center-vertically">
                            <a href="{{=URL(c='usuarios',f='modificar', args=[ usuario.usbid ] )}}">
                                <span class="glyphicon glyphicon-edit green-icn"></span>
                            </a>
                        </td>

                        <td class="hColumns text-center center-vertically">
                            <a>
                               <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarUsuario"
                                      data-link-eliminar="{{=URL(c='usuarios',f='eliminar', args=[usuario.usbid])}}"></span>
                            </a>
                        </td>
                    </tr>
                    {{pass}}
                {{pass}}
                </tbody>
            </table>
        </div>
        </div>
    </div>

<!-- Modal Eliminar-->
  <div id="modalEliminarUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Contenido Modal -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Eliminar Usuario</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere eliminar este usuario?.</p> </center>
            <br>
            <center>
                <a id="BotonEliminar">
                  <button type="button" class="btn blue-add btn-border">
                          Eliminar
                  </button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>

<!-- Modal Modificar -->
  <div id="modalModificarUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Contenido Modal -->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Modificar Usuario</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>{{=form_editar}}</p> </center>
            <br>
            <center>
                <a id="BotonModificar">
                  <button type="button" class="btn blue-add btn-border">
                          Modificar
                  </button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Contactar-->
    <div id="modalContactarUsuario" class="modal fade" role="dialog" data-hayErrores="{{=hayErrores}}">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center><h4 class="modal-title">Contactar Usuario</h4><center>
          </div>
          <div class="modal-body">
              <center>
                  <p>  {{=formulario_contactar}}</p>
              </center>
          </div>
        </div>
      </div>
    </div>
{{end}}

{{block script}}
    <script src="{{=URL('static','js/usuarios.js')}}"></script>

    <script>

      var hayErrores = $("#modalContactarUsuario").attr("data-hayErrores");
      hayErrores = hayErrores.replace(/<Storage |>/gi, "").replace(/'/g, '"')

      if (hayErrores != '{}') {
        $('#modalContactarUsuario').modal('show');
        $("#no_table_usbid__row").hide();
      }

      // Pasamos los argumentos para contactar el usuario
      $('#modalContactarUsuario').on('show.bs.modal', function(e){
          var usbid = $(e.relatedTarget).data('id-usuario');
          console.log(usbid);
          $(e.currentTarget).find('input[name="usbid"]').val(usbid);
          // Se quiere ocultar el usbid en el modalContactarUsuario
          $("#no_table_usbid__row").hide();
      });



    </script>
{{end}}
