
<link href="{{=URL('static', 'css/camposFormStyle.css')}}" rel="stylesheet" type="text/css" />
<script src="{{=URL('static','js/global.js')}}"></script>
<script src="{{=URL('static','js/campo_tipo_actividad.js')}}"></script>


<div id = 'formulario'>
    <!-- Formulario para agregar un único campo. -->
    {{= formSimple.custom.begin}}
    <table class="table table-condensed">
        <tr>
        <td class="col-md-2">Nombre</td>     <td class="col-md-3">{{= formSimple.custom.widget.Nombre}}</td>
        <td class="col-md-1">Tipo</td>       <td class="col-md-2">{{= formSimple.custom.widget.Tipo}}</td>
        <td class="col-md-2">Obligatorio</td><td class="col-md-1">{{= formSimple.custom.widget.Obligatorio}}</td>
        <td class="col-md-2">{{= formSimple.custom.submit}}</td>
        </tr>
    </table>
    {{= formSimple.custom.end}}

    <!-- formulario para agregar campos provenientes de un catálogo. -->
    {{= formMultiple.custom.begin}}
    <table class="table table-condensed">
        <tr>
          <td class="col-md-2">Catalogo</td>   <td class="col-md-3">{{= formMultiple.custom.widget.Catalogo}}</td>
          <td class="col-md-2">{{= formMultiple.custom.submit}}</td>
        </tr>
    </table>
    {{= formMultiple.custom.end}}

</div>
<br/><br/><br/>
<div id="buttons" class="container-fluid">
    <row>
        <div class="col-md-2">
        <input type=button class="btn btn-primary" onClick="parent.location='{{=URL('tipo_actividad', 'agregar_tipo_aux')}}'" value='Finalizar'>
        </div>
        <div class="col-md-2 col-md-offset-3">
        <input type=button class="btn btn-primary" onClick="parent.location='{{=URL('tipo_actividad', 'eliminar_campos') }}'" value='Abortar'>
        </div>
    </row>
</div>
