{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}

        {{if programa_nombre != None:}}
           Programa: {{=programa_nombre}}

       {{else:}}
           Tipos de Actividades del Sistema
       {{pass}}

{{end}}

{{block descripcion}}
    <div class="col-sm-12">
          <h4><p> {{if programa_descripcion != None:}}
                         Descripción: {{=programa_descripcion}}

                  {{else:}}

                  {{pass}}
               </p></h4>
          <br>
    </div>
    <br>
{{end}}

{{block contenido}}

        {{if programa_nombre != None:}}
           <div id="identificador_de_programa" data-programa="{{=id_programa}}"></div>

       {{pass}}

    <script src="{{=URL('static','js/global.js')}}"></script>
    <script src="{{=URL('static','js/list.js')}}"></script>
    <script src="{{=URL('static','js/tipo_actividad.js')}}"></script>

    <!-- Custom DataTables plugin -->
    <script src="{{=URL('static','DataTables/datatables.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','DataTables/datatables.css')}}">

    <script type="text/javascript">
      $(document).ready(function(){
        var opciones = {
          responsive: true,
            "language": {
                search:         "Buscar:",
                searchPlaceholder: "",
                lengthMenu:     "Mostrar _MENU_ entradas",
                info:           "Mostrando _START_ a _END_ de _TOTAL_ entradas.",
                infoEmpty:      "Mostrando 0 a 0 de 0 entradas",
                infoFiltered:   "(filtradas de _MAX_ entradas en total)",
                infoPostFix:    "",
                loadingRecords: "Carga en curso...",
                zeroRecords:    "No se encontraron programas en la busqueda",
                emptyTable:     "No hay informacion disponible en la tabla",
                processing:     "Procesando...",
                paginate: {
                    first:      "Primero",
                    previous:   "Anterior",
                    next:       "Siguiente",
                    last:       "Ultimo"
                },
                aria: {
                    sortAscending:  ": Se ordenan las columnas por orden creciente",
                    sortDescending: ": Se ordenan las columnas por orden decreciente"
                }
            },
             "columns": [
                {"width" : "30%"},
                { "orderable": false },
                { "orderable": false },
                null,
                { "orderable": false },
                { "orderable": false },
                { "orderable": false }
            ]
        };
        
        var cantidadColumnas = $("#TipoActividadTable thead th").length;
        columnas = [{"width" : "30%"}];
        for (var i = 1; i<cantidadColumnas; i++){
          columnas.push({ "orderable": false });
        }
        opciones["columns"] = columnas;
        $("#TipoActividadTable").DataTable(opciones);
      });
    </script>

    <div id="tipo_actividad">
      <div class="row">
        <div class="col-sm-6">
             <form class="navbar-form" role="search">
                <div class="input-group col-lg-12">
                    <!-- barra de busqueda -->
                        <input  type="text"
                                class="form-control search"
                                placeholder="Buscar Tipo de Actividad"
                                id="form-busqueda">

                    <!-- Lupa -->
                    <span class="input-group-btn">
                        <span
                              class="btn btn-default glyphicon glyphicon-search"
                              id="btn-lupa" style="top:0px !important;">
                        </span>
                    </span>
                 </div>
            </form>
        </div>
        {{ if admin in [1,2]: }}
          <div class="col-sm-5 col-sm-push-1" style="margin-top:10px;margin-left:50px">
              <button type="button"
                      class="btn btn-default green btn-border"
                      id = "agregarTipoActividadBtn"
                      data-toggle="modal"
                      data-target="#myModal"
                      >
                <span class="glyphicon glyphicon-plus-sign"
                      aria-hidden="true"></span> Agregar Actividad
              </button>


              <a href="{{=URL(c='archivo_historico', f='gestionar.html')}}" >
              <button type="button" class="btn btn-default red-trash btn-border">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Archivo Histórico
              </button>
              </a>
          </div>
        {{pass}}
    </div>
    <br>
    <div class="row">
      <div class="col-sm-10">
        <h5> Seleccionar un Tipo de Actividad para ver su descripción.</h5>
      </div>
    </div>

    <div>
        <!-- Tabla con los tipos de actividad disponibles en el sistema -->
        <div class="container-fluid card">
            <table id ="TipoActividadTable" class="table table-hover table-striped borde-tabla">
                <thead>
                    <tr>
                        <th class="hColumns">Código</th>
                        <th class="hColumns">Nombre</th>
                        <th class="hColumns">Descripción</th>
                        <th></th>
                        <th class="hColumns text-center">Crear Producto</th>
                        {{ if admin in [1,2]: }}
                          <th class="hColumns text-center">Editar</th>
                          <th class="hColumns text-center">Inhabilitar</th>
                        {{pass}}
                    </tr>
                </thead>
                <tbody class="list">
                    {{if len(listaTipoActividades) == 0:}}
                    <tr>
                        <td colspan="7"> No hay Tipos de Actividades que mostrar.</td>
                    </tr>
                    {{else:}}
                        {{for tipoActividad in listaTipoActividades: }}
                        <tr class="clickable">
                            <td class="col-md-1 hColumns center-vertically">{{=tipoActividad.codigo}}</td>
                            <td class="col-md-3 nombre_tipo hColumns center-vertically">
                                <a class="a_table" href="{{=URL(c='tipo_actividad', f='ver_tipo_actividad',args=[tipoActividad.id_tipo])}}">
                                    {{=tipoActividad.nombre}}
                                </a>
                            </td>
                            <td class="descripcion_tipo hColumns center-vertically">
                                <span class="hideContent">{{=tipoActividad.descripcion}}</span>
                                <span class="restContent" style="display:none;"></span>
                            </td>

                            <td class="hColumns text-center center-vertically">
                              <button class="glyphicon glyphicon-eye-open showMoreContent"
                                      style="border:none;background:none;"></button></td>
                            <td class="hColumns text-center center-vertically">
                                <a href="{{=URL(c='producto', f='agregar',args=[tipoActividad.id_tipo])}}">
                                   <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </td>
                            {{ if admin in [1,2]: }}
                            <td class="hColumns text-center center-vertically">
                                <a href="#">
                                    <span class="glyphicon glyphicon-edit blue"
                                          data-toggle="modal"
                                          data-target="#myModalEditar"
                                          data-idtipo="{{=tipoActividad.id_tipo}}"
                                          data-nombre="{{=tipoActividad.nombre}}"
                                          data-codigo="{{=tipoActividad.codigo}}"
                                          data-descripcion="{{=tipoActividad.descripcion}}"
                                          data-idprograma="{{=tipoActividad.id_programa}}"
                                          data-tipopr="{{=tipoActividad.tipo_p_r}}">
                                    </span>
                                </a>
                              </td>
                              <td class="hColumns text-center center-vertically">
                                <a href="#">
                                   <span class="glyphicon glyphicon-remove red"
                                         data-toggle="modal"
                                         data-target="#myModalInhabilitar"
                                         data-enlace-inhabilitar="{{=URL(f='enviar_tipo_papelera', args=[tipoActividad.id_tipo])}}">
                                   </span>
                                </a>
                              </td>
                            {{pass}}
                        </tr>
                        {{pass}}
                        
            
                        
                    {{pass}}
                </tbody>
            </table>
        </div>

<!-- Modal Agregar-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Agregar Tipo de Actividad</h4><center>
      </div>
      <div class="modal-body" id="modalAgregar" data-hayErroresAgregar="{{=hayErroresAgregar}}">
          {{=formulario_agregar_tipo}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div id="myModalEditar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Editar Tipo de Actividad</h4><center>
      </div>
      <div class="modal-body" id="modalEditar" data-hayErroresEditar="{{=hayErroresEditar}}">
          {{=formulario_editar_tipo}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->
<div class="container">
  <div class="modal fade" id="myModalInhabilitar" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Inhabilitar Tipo de Actividad</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere inhabilitar este tipo de actividad?</p> </center>
            <br>
            <center>
                <a id="botonDelete" href="#">
                  <button type="button"
                          class="btn blue-add btn-border">
                      Inhabilitar</button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>
</div>





{{end}}

