{{#extend 'SIRADEX_tipos_Actividad_layout.html'}}
{{extend 'SIRADEXLayout.html'}}

<head>
    {{response.files.append(URL('static','css/agregarTipo.css')) }}
    <link href="{{=URL('static', 'css/agregarTipo.css')}}" rel="stylesheet" type="text/css" />
</head>


<!-- Vaina loca que hizo Diego -->
<article>
    <div class = "session_message">
        {{= session.message or ''}}
        {{ session.message = '' }}
    </div>
    <h3 id="titulo">
        Gestión de Tipos de Actividad
    </h3>
    <br/>
    <h4>
        <a href="{{=URL(a='SiraDex', c='tipo_actividad', f='agregar_tipo.html')}}">
            {{=IMG(_src=URL('static', 'iconos/Add_26x26.png')) }}
            Agregar Tipo de Actividad
        </a>
    </h4>
    <h4>
        <a href="{{=URL(a='SiraDex', c='tipo_actividad', f='gestionar_archivo_historico.html')}}">
            {{=IMG(_src=URL('static', 'iconos/Delete.png')) }}
            Archivo Histórico
        </a>
    </h4>
</article>

<div>
    <br/>
    <!-- Tabla con los tipos de actividad disponibles en el sistema -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-4">Nombre</td>
                <th class="col-md-6">Descripción</td>
                <th class="col-md-1"></td>
                <th class="col-md-1"></td>
            </tr>
        </thead>
        <tbody>
            {{for tipo in tipos:}}
                <tr>
                    <td class="col-md-4">
                        <a href="{{=URL(f='ver_tipo_actividad.html', args=[tipo.id_tipo])}}">
                            {{ =tipo.nombre}}
                        </a>
                    </td>
                    <td class="col-md-6">{{ =tipo.descripcion}}</td>
                    <td>
                      <a href = "{{=URL(c='tipo_actividad', f='editar_tipo', args=[tipo.id_tipo])}}">
                          {{=IMG(_src=URL('static', 'iconos/Edit.png')), }}
                      </a>
                    </td>
                    <td class="col-md-1">
                        <input id="icono" type="image" src="{{=URL('static', 'iconos/Delete.png')}}"
                               onClick="if(confirm('¿Está seguro que desea enviar al Archivo Histórico este tipo de actividad?'))
                                        {window.location.href = '{{=URL(f='enviar_tipo_papelera.html', args=[ tipo.id_tipo ] )}}';}">
                    </td>
                </tr>
            {{pass}}
        </tbody>
    </table>
</div>
