{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    <h2> <center> < Nombre Tipo de Actividad > </center> </h2>
{{end}}

{{block contenido}}
<div class="container-fluid">
    <table class="table table-bordered tabla-border" >
        <tbody class="tabla-border">
            <tr> <th class="col-md-2 tabla-border">Nombre:</td>           <td class="col-md-6 tabla-border"> < Nombre > </td> </tr>
            <tr> <th class="col-md-2 tabla-border">Descripción:</td>      <td class="col-md-6 tabla-border"> < Descripcion > </td> </tr>
            <tr> <th class="col-md-2 tabla-border">Tipo de Programa:</td> <td class="col-md-6 tabla-border"> < Tipo de Programa > </td></tr>
            <tr> <th class="col-md-2 tabla-border">Programa:</td>         <td class="col-md-6 tabla-border"> < Programa > </td> </tr>
            <!--<tr> <th class="col-md-2">Producto</td>         <td class="col-md-6"> < Producto > </td> </tr>-->
        </tbody>
    </table>

    <h3> < Campos > </h3>
    <br>
    <table class="table table-striped table-condensed table-hover sortable">
            <thead>
                <tr>
                    <th> <center> Nombre </center> </td>
                    <th> <center> Tipo </center> </td>
                    <th> <center> Obligatorio </center> </td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td> <center> < Campo 1 > </center></td>
                        <td> <center> < Tipo 1 > </center></td>
                        <td> <center> < False / True > </center></td>
                    </tr>
                    <tr>
                        <td> <center> < Campo 2 > </center></td>
                        <td> <center> < Tipo 2 > </center></td>
                        <td> <center> < False / True > </center></td>
                        
                    </tr>
                    <tr>
                       <td> <center> < Campo 3 > </center></td>
                       <td> <center> < Tipo 3 > </center></td>
                       <td> <center> < False / True > </center></td>
                    </tr>
            </tbody>
        </table>
</div>

{{end}}
