{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    Validación de Productos
{{end}}

{{block descripcion}}
    <div class = "session_message">
        {{= session.message or ''}}
        {{ session.message = '' }}
    </div>
{{end}}
{{block contenido}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active esp">
                    <a  href="#esp" 
                        aria-controls="esp" 
                        role="tab" 
                        data-toggle="tab">
                        En Espera
                    </a>
                </li>
                
                <li role="presentation" class="act">
                    <a  href="#val" 
                        aria-controls="val" 
                        role="tab" 
                        data-toggle="tab">
                        Validadas
                    </a>
                </li>

                <li role="presentation" class="rec">
                    <a  href="#rec" 
                        aria-controls="rec" 
                        role="tab" 
                        data-toggle="tab">
                        Rechazadas
                    </a>
                </li>       
            </ul>

            <!-- Tab panes -->
        
            <div class="tab-content">
                <!-- Espera -->
                <div role="tabpanel" class="tab-pane active" id="esp">
                    {{if len(productosE) == 0:}}
                        No hay actividades En espera de validacion
                    {{else:}}
                        <table class="table table-striped table-condensed table-hover sortable">
                            <thead>
                            <tr>
                                <th>ID Producto</th>
                                <th>Nombre Producto</th>
                                <th>Tipo Producto</th>
                                <th><center>Validar</center></th>
                                <th><center>Rechazar</center></th>
                            </tr>
                            </thead>
                            <tbody>
                                {{for producto in productosE:}}
                                    <tr>
                                        <td>
                                            {{=producto.id_producto}}
                                        </td>

                                        <td class="detalles">
                                            {{=producto.nombre}}
                                        </td>
                                        
                                            
                                                <td class="detalles">
                                                    =tipo.nombre
                                                </td>
                                                
                                            
                                        <td>
                                            <a href="{{=URL(f='validar', args=[producto.id_producto])}}">
                                                <center><span class="glyphicon glyphicon-ok" style="color:#B2FF59"></span></center>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{=URL(f='rechazar', args=[producto.id_producto])}}">
                                                <center><span class="glyphicon glyphicon-remove red"></span></center>
                                            </a>
                                        </td>
                                        {{pass}}
                                    </tr>
                                {{pass}}
                            </tbody>
                        </table>
                    {{pass}}
                </div>        
                
                <!-- Validadas -->
                <div role="tabpanel" class="tab-pane" id="val">
                    {{if len(productosV) == 0:}}        
                        No hay actividades validadas
                    {{else:}}
                        <table class="table table-striped table-condensed table-hover sortable">
                            <thead>
                            <tr>
                                <th>ID Producto</th>
                                <th>Nombre Producto</th>
                                <th>Tipo Producto</th>
                                <th><center>Validar</center></th>
                                <th><center>Rechazar</center></th>
                            </tr>
                            </thead>
                            <tbody>
                                {{for producto in productosV:}}
                                    <tr>                       
                                        <td>
                                            {{=producto.id_producto}}
                                        </td>

                                        <td class="detalles">
                                            {{=producto.nombre}}
                                        </td> 

                                        
                                            
                                                <td class="detalles">
                                                    =tipo.nombre
                                                </td>
                                                
                                            
                                        <td>
                                            <a href="{{=URL(f='validar', args=[producto.id_producto])}}">
                                                <center><span class="glyphicon glyphicon-ok" style="color:#9E9E9E"></span></center>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{=URL(f='rechazar', args=[producto.id_producto])}}">
                                                <center><span class="glyphicon glyphicon-remove" style="color:#9E9E9E"></span></center>
                                            </a>
                                        </td>
                                        {{pass}}
                                    </tr>
                                {{pass}}
                            </tbody>
                        </table>
                    {{pass}}
                </div>
                
                <!--  Rechazadas -->
                <div role="tabpanel" class="tab-pane" id="rec">
                    {{if len(productosR) == 0:}}        
                        No hay actividades rechazadas
                    {{else:}}
                        <table class="table table-striped table-condensed table-hover sortable">
                            <thead>
                            <tr>
                                <th>ID Producto</th>
                                <th>Nombre Producto</th>
                                <th>Tipo Producto</th>
                                <th><center>Validar</center></th>
                                <th><center>Rechazar</center></th>
                            </tr>
                            </thead>
                            <tbody>
                                {{for producto in productosR:}}
                                    <tr>                                            
                                        <td>
                                            {{=producto.id_producto}}
                                        </td>

                                        <td>
                                            {{=producto.nombre}}
                                        </td>

                                        
                                            
                                                <td class="detalles">
                                                    =tipo.nombre
                                                </td>
                                                
                                            
                                        <td>
                                                <center><span class="glyphicon glyphicon-ok" style="color:#9E9E9E"></span></center>
                                        </td>
                                        <td>
                                            <center><span class="glyphicon glyphicon-remove" style="color:#9E9E9E"></span></center>
                                        </td>
                                        {{pass}}
                                    </tr>
                                {{pass}}
                            </tbody>
                        </table>
                    {{pass}}
                </div>                       
            </div>
        </div>
    </div>
</div>
{{end}}

{{block script}}
    <!-- SCRIPT PARA MOSTRAR Y OCULTAR DETALLES -->
    <script src="{{=URL('static','js/showDetails.js')}}"
            type="text/javascript">
    </script>
{{end}}