{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    Validación de Productos
{{end}}

{{block descripcion}}
    <div class = "session_message">
        {{= session.message or ''}}
        {{ session.message = '' }}
    </div>
{{end}}
{{block contenido}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active esp">
                    <a  href="#esp" 
                        aria-controls="esp" 
                        role="tab" 
                        data-toggle="tab">
                        En Espera
                    </a>
                </li>
                
                <li role="presentation" class="act">
                    <a  href="#val" 
                        aria-controls="val" 
                        role="tab" 
                        data-toggle="tab">
                        Validadas
                    </a>
                </li>

                <li role="presentation" class="rec">
                    <a  href="#rec" 
                        aria-controls="rec" 
                        role="tab" 
                        data-toggle="tab">
                        Rechazadas
                    </a>
                </li>       
            </ul>

            <!-- Tab panes -->
        <div class="tab-content">
        <!-- Espera -->
        <div role="tabpanel" class="tab-pane active" id="esp">
        {{if len(producEsp) == 0:}}
        No hay actividades En espera de validacion
        {{else:}}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-4">ID Producto</td>
                <th class="col-md-4">Nombre Producto</td>
                <th class="col-md-1">Validar</td>
                <th class="col-md-1">Rechazar</td>
            </tr>
            </thead>
            <tbody>
                {{for producto in producEsp:}}
                    <tr>
                        <td class="col-md-4">
                            {{=producto.id_producto}}
                        </td>

                        {{for tipo in tiposEsp:}}
                            {{if tipo.id_tipo == producto.id_tipo:}}
                                <td class="col-md-6">
                                    {{=tipo.nombre}}
                                </td>
                                {{break}}
                            {{pass}}
                        <td class="col-md-1">
                            <a href="{{=URL(f='validar.html', args=[producto.id_producto])}}">
                                {{=IMG(_src=URL('static','iconos/Add_26x26.png'))}}
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a href="{{=URL(f='rechazar.html', args=[producto.id_producto])}}">
                                {{=IMG(_src=URL('static','iconos/Delete_26x26.png'))}}
                            </a>
                        </td>
                        {{pass}}
                    </tr>
                {{pass}}
            </tbody>
        </table>
        {{pass}}

        </div>        
        <!-- Validadas -->
        <div role="tabpanel" class="tab-pane" id="val">
            Validas
        </div>
        <!--  Rechazadas -->
        <div role="tabpanel" class="tab-pane" id="rec">
            Rechazadas
        </div>                       
        </div>
        </div>
    </div>
</div>

{{end}}