#banner_h1 {background-color:#98FF98;
    color:green;
    text-align:center;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid #47A2D0;
}

table tr td, table tr th {
    width: 25%;
    word-break: break-all;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

.session_message {
    color: green;
    text-align: center;
}
/* Botones
-------------------------------------------------------------------------*/
#botonEliminar{
    border: 0;
    background: url(../iconos/Eliminar_26x26.png) no-repeat;
}

#botonSumar{
    border: 0;
    background: url(iconos/Add_26x26.png) no-repeat ;
}

#botonRestar{
    border: 0;
    background: url(iconos/minus.png) no-repeat ;
}

#botonModificar{
    border: 0;
    background: url(iconos/Edit_26x26.png) no-repeat ;
}

#botonExaminar{
    border: 0;
    background: url(iconos/Examine_26x26.png) no-repeat ;
}

#botonValidar{
    border: 0;
    background: url(../iconos/check_26x26.png) no-repeat ;
}

#botonRechazar{
    border: 0;
    background: url(../iconos/Delete_26x26.png) no-repeat ;
}

#botonPDF{
    border: 0;
    background: url(../iconos/pdf_26x26.png) no-repeat ;
}

#botonRestaurar{
    border: 0;
    background: url(../iconos/restaurar.png) no-repeat ;
}

/* 
Eliminar tipo
*/
.session_message {
    text-align: center;
    padding: 5px;
    color: red;
}

.form {
    text-align: left;
    padding: 10px 20px;
}

.field {
    margin: 10px;
    width: 45%;
}
