/**********************************/
/*                                */
/*             General            */
/*                                */
/**********************************/
	* {
		margin: 0;
		padding: 0;
	}

	html{
		height: 100%;
	}

	body {
		background: #FFFFFF;
		background: url("../images/background_stripes.jpg");
		font-size: 1.2em;
	}

    .container {
        width: 1300 !important;
    }


/**********************************/
/*                                */
/*        Caja de contenido       */
/*            Principal           */
/*                                */
/**********************************/
	#degradado{
	    -moz-border-radius: 8px 8px 8px 8px;
	    /* background: url("../images/degradado03.png");
	    background-repeat: repeat-x; */
	    margin-top: 20px;
	    margin-bottom: 20px;
	    background-color: #ffffff;
	    border: 2px solid #E6EAED;
	    padding: 5px;
	    color: #fff;
	}

	img{
		vertical-align: middle;
		max-width: 100%;
	}

	header {
		-webkit-box-shadow: 0 0 0px 0px #000;
	    -moz-box-shadow: 0 0 0px 0px #000;
	    /* box-shadow: 0 0 8px 2px #000; */
	}

	nav{
		max-width: 100%;
		max-height: 100%;
	}

	.navbar-default{
		background-color: #FFF;
	}
	s
	#degradado nav{
		padding: 0.3em;
		margin: 0.2em;
	}

	.navbar-default .navbar-nav>.activo>a:hover{
		background-color:#03A9F4;
		color: #FFF;
	}
		
	#degradado nav a{
	}
	
	.navbar-default .navbar-nav>.activo>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
		background-color:#286090;
		color: #FFF;	
	}	

	.dropdown:hover .dropdown-menu {
	    display: block;
	    margin-top: 0; /*remove the gap so it doesn't close*/
	 }

/**********************************/
/*                                */
/*      Texto de descripcion      */
/*                                */
/**********************************/
	#titulo{
		color: #444;
	}

	#contenido{
		color: #777;
		max-width: 100%;
		max-height: 100%;
		text-align: left;
		padding: 0.5em 2em 0.5em 2em;
		margin: 0.5em 2.5em 0.5em 2.5em;
		font-size: 100%;
	}

/**********************************/
/*                                */
/*        Barra  buscadora        */
/*                                */
/**********************************/
	#btn-lupa{
	    border: 1px solid #0288D1;	
		border-left-style: none;
		color:#0288D1;
		border-top-right-radius : 2em;
		border-bottom-right-radius : 2em;
		background-color: #92D3EF;
	}

	#btn-filtro{
		background-color: #B3E5FC;
	    border: 1px solid #0288D1;	
		border-left-style: none;
		border-right-style: none;
		color:#0288D1;
		border-radius : 0em;
		width: 100%;
	}

	#form-busqueda{
	    border: 1px solid #0288D1;	
		border-right-style: none;
		border-top-left-radius : 2em;
		border-bottom-left-radius : 2em;	
	}

/**********************************/
/*                                */
/*          Pie de pagina         */
/*                                */
/**********************************/
	#footer 
	{
	    background-color: #333333;
	    padding: 10px 0px 5px 0px;
	    margin-top: 1px;
	    font: 10px verdana, arial, helvetica, sans-serif;
	    color: #FFFFFF;
	    text-align: center;
	    height: 8em;
	}

/**********************************/
/*                                */
/*              Listas            */
/*                                */
/**********************************/
	#striped-list li{
		color: #fff;
	}

	#dv-act>#striped-sublist li:nth-child(odd) {
		background-color: #4CAF50;  
	}

	#dv-act>#striped-sublist li:nth-child(even) {
		background-color: #8BC34A;  
	}

	#dv-esp>#striped-sublist li:nth-child(odd) {
		background-color: #607D8B;  
	}

	#dv-esp>#striped-sublist li:nth-child(even) {
		background-color: #9E9E9E;  
	}

	#dv-rec>#striped-sublist li:nth-child(odd) {
		background-color: #F44336;  
	}

	#dv-rec>#striped-sublist li:nth-child(even) {
		background-color: #DE6E4B;  
	}

/**********************************/
/*                                */
/*              Botones            */
/*                                */
/**********************************/
	#sombra>img{
    box-shadow: 0.2em 0.2em 0.5em  rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    position: relative;
    top:-4em;
    margin-left: 93%;
	}


a#disabled-dropdown,
a#disabled-dropdown:visited ,
a#disabled-dropdown:active,
a#disabled-dropdown:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}

/* DROPDOWN */
.dropdown-submenu {
    position: relative;
}
.dropdown-menu >.dropdown-submenu>.dropdown-menu {
    display:none;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100% !important;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    font-size: small;
}

/* Styles iconos y botones */

.center-vertically {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle !important;
}

.btn-border {
    border-radius: 200px !important;
}

.green {
    color: #286090 !important;
    background-color: #FFFFFF !important;
    border: 1px solid #286090 !important;
}

.green:hover {
    color: #FFFFFF !important;
    background-color: #286090 !important;
    border: 1px solid #286090 !important;
}

.red-trash {
    color: #D32F2F !important;
    background-color: #FFFFFF !important;
    border: 1px solid #D32F2F !important;
}

.red-trash:hover {
    color: #FFFFFF !important;
    background-color: #D32F2F !important;
    border: 1px solid #D32F2F !important;
}

.blue-add {
    color: #FFFFFF !important;
    background-color: #286090 !important;
    border: 1px solid #286090 !important;
}

.blue-add:hover {
    color: #286090 !important;
    background-color: #FFFFFF !important;
    border: 1px solid #286090 !important;
}

.blue {
    color: #03A9F4 !important;
    font-size: 20px;
}

.red {
    color: #F44336;
    font-size: 20px;
}

a {
    color: #337ab7;
}

a: hover {
    color: #286090 !important;
    text-decoration: none !important;
}

.restaurar {
    color: #43A047 !important;
}

/* Tabla */

.tabla-border {
    border: 0px solid #FFF !important;
}
style=""
