* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
}

header, .main, footer {
	background: #FFFFFF;
	width: 90%;
	max-width: 1060px;
	margin: 20px auto;	/* Esto hace que se centre (con espaciado de 20px) */
}

header nav{
	overflow: hidden;	/* Resuelve problema con float:right */
	background: #AFC1CB;
	padding: 4px 5px;
}

header nav ul {
	list-style: none;	/* Quita los puntos */
}

header nav ul li {
	float: right;
	padding: 0px 3px;
}

header nav ul li a {
	text-decoration: none;
}

.main aside {
	float: left;
	width: 15%;
}

.main aside ul {
	list-style: none;
}

.main aside ul li {
	padding: 5px 0px;
	text-align: right;
	color: #47A2D0;
}

.main aside ul li a {
	text-decoration: none;
	color: #47A2D0;
}

.main .contenido {
	width: 80%;
	float: left;
	padding: 2%;
	/*border-style: solid;*/
}

#titulo {
	color: blue;
	margin: auto 200px;
}

#bienvenido {
	color: green;
	text-align: center;
	margin: 50px 350px;
	background-color: rgb(187, 255, 119);
}

#agregar {
	text-decoration: none;
	color: #47A2D0;
	margin: auto 50px;
}

#mostrar {
	margin: 50px 370px; 	
}

#gestionar{
	text-decoration: none;
	color: #47A2D0;
	margin: auto 50px;
}

footer {
	background: #AFC1CB;
	text-align: center;
	margin: auto auto;
	clear: both;
	padding: 10px 0px;
}

footer nav {
	overflow: hidden;	/* Resuelve problema con float:right */
	background: #AFC1CB;
	padding: 4px 5px;
    display: inline-block;
    float: none;
    vertical-align: top;
}

footer nav ul {
	list-style: none;	/* Quita los puntos */
}

footer nav ul li {
	float: right;
	padding: 0px 3px;
}

footer nav ul li a {
	text-decoration: none;
}
