#banner_h1 {background-color:#98FF98;
    color:green;
    text-align:center;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 2px solid #47A2D0;
}

table tr td {
    width: 25%;
    word-break: break-all;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

.session_message {
    color: green;
    text-align: center;
}


#clmn_name {
    margin-left: -35%;
}

#kwd_search{
    
    margin-left: -35%;
    width: 140px;
    margin-top: 10px;

}

#layout_aside_filtros h4{
    margin-right: 25%;

}

#search {
    width: 140px;
}

#table{
    margin-top: -10%;
}
