{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
	Agregar Producto
{{end}}

{{block descripcion}}
<div class="col-lg-12">
    <p class="text-justify">
		Los campos con asteriscos <span style="color:red">*</span> son obligatorios
		<br>
			Los campos con el nombre en negrita sirven para ingresar a los participantes de la actividad. El usuario que esta registrando la Actividad debe ser seleccionado en al menos uno de estos campos.  
    </p>
</div>
{{end}}

{{block contenido}}
	
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="tab-pane">
                        
				<form class="form-horizontal" role="form">

					<!--Nombre del producto-->
					<div class="form-group">
	                    <label for="PRODUCTO_nombre" class = "control-label col-sm-3">
	                    	Nombre (*)
	                    </label>
	                    <div class="col-sm-9">
							<input id="PRODUCTO_nombre" class="form-control string" name="nombre" value="" type="text">
							<span class="help-block">
								El nombre es tentativo y luego sera actualizado por la Dex
							</span>
						</div>
	                </div>

	                <!--Descripcion del producto-->
					<div class="form-group">
	                    <label for="PRODUCTO_descripcion" class = "control-label col-sm-3">
	                    	Descripcion
	                    </label>
	                    <div class="col-sm-9">
							<input id="PRODUCTO_descripcion" class="form-control string" name="descripcion" value="" type="text">
							<span class="help-block">
								La descripcion tiene como fin familiarizar al personal de la Dex con su producto
							</span>
						</div>
	                </div>

	                <!--Seleccion de Programa-->
	                <div class="form-group">
	                    <label for="Programa" class = "control-label col-sm-3"> Programa(*)</label>
	                    <div class="col-sm-9">
		                    <select class= "form-control" name="Programa" onchange="ajax('obtener_actividades', ['Programa'], ':eval')">
		                        <option selected=""></option>
		                        {{for x in programas:}}
		                        <option value="{{=x['nombre']}}">{{=x['nombre']}}</option>

		                        {{pass}}
		                    </select>
	                    </div>
	                </div>

	                <!-- Filtro de Tipo de Actividad -->
	                <div class="form-group">
	                    <label for="TipoActividad" class = "control-label col-sm-3">
	                    	Tipo Actividad (*)
	                    </label>
	                    <div class="col-sm-9">
		                    <select class="form-control" name="id_tipo" id="lista_tipos" >
		                    	<!--Con el ajax traemos las actividades-->      
		                    </select>
		                </div>
	                </div>

	                <!-- Filtro de Fecha -->
	                <div class="form-group">
	                    <label for="date">Fecha:</label>

	                </div>

	                <!-- Filtro de Autor -->
	                <div class="form-group">
	                    <label for="Autor">Autor:</label>
	                    </select>
	                </div>

	                <div class="form-group">
	                	<input type="submit" />
  						<input type="hidden" name="_formname" value="crear_tipo" />
	                </div>
	            </form>


			</div>
		</div>
	</div>
</div>
{{end}}
