{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
	Modificar Producto
{{end}}
{{block subtitulo}}
	{{="Actividad: "+nombre_actividad}}
{{end}}

{{block descripcion}}
<div class="col-lg-12">
	<p>{{="Descripcion: "+descripcion_actividad}}</p>
	<h4> Formulario </h4>
    <p class="text-justify">
		Los campos con asteriscos <span style="color:red">*</span> son obligatorios
    </p>
</div>
{{end}}

{{block contenido}}
<div class="row">
	<div class="col-md-12">
		<div class="card">

			<div id="id_comprobante" class="tab-content" data-producto='{{=request.args(0)}}'>

					{{=form}}
			</div>
			<center><p>
				 Una vez enviado su producto no podrá editarlo, este esperará a ser evaluado por el Comité de Evaluación
				 de Decanato de Extensión. Si desea editarlo más tarde puede guardarlo como Borrador.
			</p></center>
		</div>
	</div>
</div>
{{end}}

{{block script}}
<style>
	.author-select {
		width: 80%
	}
	.remove-tag    {
		position: absolute;
    float: none;
    margin-left: -12%;
	  margin-top: 4px;
	}
	.blue-add{
		margin-left: 15%;
	}
</style>
<script type="text/javascript">
		$(document).ready(function () {
			$(":file").filestyle({
		    buttonBefore: true,
		    buttonName: "btn-primary",
		    placeholder: "Sin Archivo",
		    buttonText: "  Adjuntar",
		  });
			var comprobantes_eliminados = 0;
			var comprobantes_bd = {{=len(comprobantes)}};
			var documento_bd = {{=len(documento)}};
			var comprobante_mostrado = comprobantes_bd;
			var error_comprobante = 0;
			var error_descripcion = 0;
			var cantidad_comprobantes = 5;
			var agregados_aqui = 0;
			var autores_agregados = {{= num_aut }};
			var cantidad_autores  = 5;

			// agregar autores adicionales
			$('#no_table_autor_1__row').before('<div id="autores_row" class="form-group">\
															<h3 class="col-sm-offset-3">Otros Autores</h3>\
															\
															<div class="row">\
																<div class="col-sm-10 col-sm-offset-2" style="margin-left:15em;">\
													    	\
													    	<span class="col-sm-8" style="text-align: justify;">\
																	Puede agregar a otros usuarios registrados en el SIRADEx como Autores.\
																	<br>\
																	Todos los autores pueden ver este producto.\
																	<br>\
																	Un producto tiene un máximo de <b>5</b> autores adicionales.\
																</span>\
																\
																<div class="col-md-offset-3">\
																	<div style="margin-bottom: 0em;">\
																	  <button type="button" id="agregar_autor" class="btn btn-default green btn-border" onclick="return false;">\
																	    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Autor\
																	  </button>\
																	</div>\
												        </div>\
												        \
																</div>\
															</div>\
															</div>\
															<br>'
												);

				for (i = 1; i <= cantidad_autores; i++) {
						$('#no_table_autor_'+i).addClass("author-select");
						$('#no_table_autor_'+i+'__row').append(' <a class="remove-tag" data-autor="'+i+'" onClick = "">\
					                                              <span class="glyphicon glyphicon-remove red"></span>\
					                                    				</a>\
					                                    			');
				}

				for (i = autores_agregados + 1; i <= cantidad_autores; i++) {
			    	$('#no_table_autor_'+ i +'__row').addClass("hidden");
				}

				$('#agregar_autor').click(function(){
					if (autores_agregados < cantidad_autores){
								autores_agregados += 1;
								for (var i = 1; i <= 5; i++) {
								if ($('#no_table_autor_'+i+'__row').hasClass("hidden")){
									$('#no_table_autor_'+i+'__row').removeClass("hidden");
									break;
								};
							};
					};
					if (autores_agregados==cantidad_autores){
						$('#agregar_autor').addClass("hidden");
					};
				});

				// Verficamos que el usuario no seleccione dos veces al mismo autor
				$('.author-select').on('change', function () {
					var val = $(this).val();
					var id  = $(this).attr('id');
					$('.author-select').each(function() {
							if ($(this).val() === val && val != '' && $(this).attr('id') != id) {
								alert('Ya el usuario seleccionado es autor de este producto.');
								$('#'+ id).val('');
					 }
					});
				});

				$('.remove-tag').click(function(e){
					autores_agregados = autores_agregados - 1;
					var autor = $(this).data('autor');
					$('#no_table_autor_'+ autor).val('');
					$('#no_table_autor_'+ autor +'__row').addClass("hidden");
					if (autores_agregados < cantidad_autores){
						$('#agregar_autor').removeClass("hidden");
					};
				});



			var perro='	<div class="row">\
								<div class="col-sm-offset-3 col-sm-8 content"><br>\
									{{if len(documento) != 0 :}}\
										<table><tbody>\
											<tr>\
												<td>\
													<a  href="/{{=request.application}}/{{=request.controller}}/get_documento/{{=documento[0]}}" target="blanck">\
						        					{{=documento[1]}}\
						    						</a>\
						    					</td>\
						    					<td class="center-vertically">\
	                                    			<center>\
	                                   					<a onClick = "if(confirm(\'¿Está seguro de que desea eliminar este Documento?\')) {window.location.href=\'{{=URL(f="eliminar_documento", args=[documento[0], id_producto])}}\';$(\'#no_table_{{=documento[1]}}__row\').find(\'.group-span-filestyle\').removeClass(\'hidden\');\
	                                   						;}">\
	                                                        <span class="glyphicon glyphicon-remove red"></span>\
	                                    				</a>\
	                                    			</center>\
	                                    		</td>\
						    				</tr>\
										</tbody></table>\
									{{pass}}\
								<br></div>\
							</div>\
						</div>';


			{{if len(documento) != 0 :}}
				$('#no_table_{{=documento[1]}}__row').find('.group-span-filestyle').before(perro);
				$('#no_table_{{=documento[1]}}__row').find('.group-span-filestyle').addClass('hidden');
				$('#no_table_{{=documento[1]}}__row').find('.form-control').addClass('hidden');

			{{pass}}



			var html='<div id="comprobantes__row" class="form-group">\
							<hr class="col-sm-offset-3 col-sm-8">\
							<h3 id = "comprobantes" class="col-sm-offset-3 col-sm-3">Comprobantes</h3>\
							<span class="col-sm-offset-3 col-sm-6" id="cant_restante">\
								Puedes subir <b>'+(cantidad_comprobantes-comprobante_mostrado)+'</b> comprobantes mas <br>\
								Solo puede subir documentos PDF\
							</span>\
							<div class="row">\
								<div class="col-sm-offset-3 col-sm-4 content"><br>\
									{{if (len(comprobantes)==0): }}\
										<p>No hay comprobantes cargados</p>\
									{{else:}}\
										<table><tbody>\
										{{for comprobante in comprobantes:}}\
											<tr>\
												<td>\
													<a  href="/{{=request.application}}/{{=request.controller}}/get_comprobante/{{=comprobante[0]}}" target="blanck">\
						        					{{=comprobante[1]}}\
						    						</a>\
						    					</td>\
						    					<td class="center-vertically">\
	                                    			<center>\
	                                   					<a onClick = "if(confirm(\'¿Está seguro de que desea eliminar este comprobante?\')) {window.location.href=\'{{=URL(f="eliminar_comprobante", args=[comprobante[0], id_producto])}}\';comprobante_mostrado=comprobante_mostrado-1\
	                                   						;comprobantes_eliminados += 1;}">\
	                                                        <span class="glyphicon glyphicon-remove red"></span>\
	                                    				</a>\
	                                    			</center>\
	                                    		</td>\
						    				</tr>\
										{{pass}}\
										</tbody></table>\
									{{pass}}\
								<br></div>\
								<div class="col-sm-5">\
									<div style="margin-bottom: 0em;">\
										  	<button type="button" id="agregar_comprobante" class="btn btn-default green btn-border" onclick="return false;">\
												    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Comprobante\
											</button>\
									</div>\
							</div>\
						</div>';



			$('#no_table_c0mpr0bant3_1__row').before(html);
			for (i = 1; i <= cantidad_comprobantes; i++) {
		    	$('#no_table_c0mpr0bant3_'+i+'__row').addClass("hidden");
		    	$('#no_table_d3scr1pc10n_comprobante_'+i+'__row').addClass("hidden");
			}

			$('#agregar_comprobante').click(function(){
				if (comprobante_mostrado<cantidad_comprobantes){

					if($('#no_table_c0mpr0bant3_'+agregados_aqui).val()=="" ){
						if (!error_comprobante){
							$('#no_table_c0mpr0bant3_'+agregados_aqui).parent().append('<span id="error_archivo_'+agregados_aqui+'" class="help-block error">Primero debe cargar el comprobante</span>');
							error_comprobante = 1;
						}
					}
					else{
						$('#error_archivo_'+agregados_aqui).addClass("hidden");
						if($('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui).val()==""){
							if (!error_descripcion){
								$('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui).parent().append('<span id="error_descripcion_'+agregados_aqui+'" class="help-block error">La descripción de un archivo cargado es obligatoria</span>');
								error_descripcion = 1;
							}
						}
						else{
							error_comprobante = 0;
							error_descripcion = 0;
							$('#error_descripcion_'+agregados_aqui).addClass("hidden");

							comprobante_mostrado += 1;
							agregados_aqui += 1;
							$('#no_table_c0mpr0bant3_'+agregados_aqui+'__row').removeClass("hidden");
							$('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui+'__row').removeClass("hidden");
							$('#no_table_c0mpr0bant3_'+agregados_aqui+'__row').prepend('<hr class="col-sm-offset-3 col-sm-8">');
						};
					};
				};
				if (comprobante_mostrado==cantidad_comprobantes){
					$('#agregar_comprobante').addClass("hidden");
				}

				$('#cant_restante').remove();
				$('#comprobantes').after('<span class="col-sm-offset-3 col-sm-6" id="cant_restante">\
													Puede subir <b>'+(cantidad_comprobantes-comprobante_mostrado)+'</b> comprobantes más\
													<br>\
													Sólo puede subir documentos PDF</span>');

			});

			$('.upload').change(function(){
				var ext = $(this).val().split('.').pop().toLowerCase();
				if(ext != 'pdf') {
				    alert('solo se permite cargar archivos PDF');
				    $(this).val('');
				    $(this).filestyle('clear');
				}
			});


			$('.form-horizontal').submit(function(){
				var infor_cargada = false;

				if($('#no_table_nombre').val()=="" ){
					alert("El nombre del producto no puede estar vacío ");
					return false;
				}

				if($('#no_table_descripcion').val()=="" ){
					alert("La descripción del producto no puede estar vacío ");
					return false;
				}

				if($('#no_table_fecha_realizacion').val()=="" ){
					alert("La fecha del producto no puede estar vacío ");
					return false;
				}

				if($('#no_table_lugar').val()=="" ){
					alert("El lugar de la actividad no puede estar vacío ");
					return false;
				}

				if($('.obligatoria').val()==""){
					alert("Todos los campos obligatorios  ");
					return false;
				}

				if($('.Cedula').val()!=""){
					if($('.Cedula').val()!=null){
						var Var = $('.Cedula').val();
						if (/\d{2}.\d{3}.\d{3}$/.test(Var)== false){
							alert("No es el formato del número de cédula adecuado  ");
							return false;
						}
					}
				}

				if($('.Telefono').val()!=""){
					if($('.Cedula').val()!=null){
						var Var = $('.Telefono').val();
						if (/\(0\d{3}\)\d{3}-\d{4}$/.test(Var)== false){
							alert("No es el formato del número de teléfono adecuado ");
							return false;
						}
					}
				}


				if($('.Decimal ').val()!=""){
					if($('.Decimal').val()!=null){
						var Var = $('.Decimal').val();
						if (/\d\.\d/.test(Var)== false){
							alert("No es un número Decimal  ");
							return false;
						}
					}
				}

				if($('.Entero ').val()!=""){
					if($('.Entero').val()!=null){
						var Var = $('.Entero').val();
						if (/\d\.\d/.test(Var)== false){
							alert("No es un número Entero  ");
							return false;
						}
					}
				}

				// Verificamos los comprobantes
				for (i = 1; i <= cantidad_comprobantes; i++) {
			    	if($('#no_table_c0mpr0bant3_'+i).val() !="" ){
			    		if($('#no_table_d3scr1pc10n_comprobante_'+i).val()==""){
			    			alert("La descripción de los comprobantes cargados no puede ser vacía");
			    			return false;
			    		}
			    		infor_cargada = true;
					}
				}
				if (!infor_cargada && comprobantes_eliminados==comprobantes_bd){
					alert("Tiene que adjuntar al menos un comprobante");
					return false;
				}


			});

		});

	</script>
{{end}}
