{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
	Modificar Producto
{{end}}
{{block subtitulo}}
	{{="Actividad: "+nombre_actividad}}
{{end}}

{{block descripcion}}
<div class="col-lg-12">
	<p>{{="Descripcion: "+descripcion_actividad}}</p>
	<h4> Formulario </h4>
    <p class="text-justify">
		Los campos con asteriscos <span style="color:red">*</span> son obligatorios
    </p>
</div>
{{end}}

{{block contenido}}
<div class="row">
	<div class="col-md-12">
		<div class="card">

			<div id="id_comprobante" class="tab-content" data-producto='{{=request.args(0)}}'>

					{{=form}}
			</div>
		</div>
	</div>
</div>
{{end}}

{{block script}}
	<script type="text/javascript">
		$(document).ready(function () {
			$(":file").filestyle({
		    buttonBefore: true,
		    buttonName: "btn-primary",
		    placeholder: "Sin Archivo",
		    buttonText: "  Adjuntar",
		  });
			var comprobantes_eliminados = 0;
			var comprobantes_bd = {{=len(comprobantes)}};
			var comprobante_mostrado = comprobantes_bd;
			var error_comprobante = 0;
			var error_descripcion = 0;
			var cantidad_comprobantes = 5;
			var agregados_aqui = 0;
			var autores_agregados = {{= num_aut }};
			var cantidad_autores  = 5;

			// agregar autores adicionales
			$('#no_table_autor_1__row').before('<div id="autores_row" class="form-group">\
															<h3 class="col-sm-offset-3">Otros Autores</h3>\
															\
															<div class="row">\
																<div class="col-sm-10 col-sm-offset-2" style="margin-left:15em;">\
													    	\
													    	<span class="col-sm-8" style="text-align: justify;">\
																	Puedes agregar a otros usuarios registrados en el SIRADEX como Autores.\
																	<br>\
																	Todos los autores pueden ver este producto.\
																	<br>\
																	Un producto tiene un maximo de <b>5</b> autores adicionales.\
																</span>\
																\
																<div class="col-md-offset-3">\
																	<div style="margin-bottom: 0em;">\
																	  <button type="button" id="agregar_autor" class="btn btn-default green btn-border" onclick="return false;">\
																	    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Autor\
																	  </button>\
																	</div>\
												        </div>\
												        \
																</div>\
															</div>\
															</div>\
															<br>'
												);

				for (i = autores_agregados + 1; i <= cantidad_autores; i++) {
			    	$('#no_table_autor_'+ i +'__row').addClass("hidden");
				}

				$('#agregar_autor').click(function(){

					if (autores_agregados<cantidad_autores){
								autores_agregados += 1;
								$('#no_table_autor_'+autores_agregados+'__row').removeClass("hidden");
					};
					if (autores_agregados==cantidad_autores){
						$('#agregar_autor').addClass("hidden");
					};
				});

			var html='<div id="comprobantes__row" class="form-group">\
							<hr class="col-sm-offset-3 col-sm-8">\
							<h3 id = "comprobantes" class="col-sm-offset-3 col-sm-3">Comprobantes</h3>\
							<span class="col-sm-offset-3 col-sm-6" id="cant_restante">\
								Puedes subir <b>'+(cantidad_comprobantes-comprobante_mostrado)+'</b> comprobantes mas <br>\
								Solo puedes subir documentos PDF\
							</span>\
							<div class="row">\
								<div class="col-sm-offset-3 col-sm-8 content"><br>\
									{{if (len(comprobantes)==0): }}\
										<p>No hay comprobantes cargados</p>\
									{{else:}}\
										<table><tbody>\
										{{for comprobante in comprobantes:}}\
											<tr>\
												<td>\
													<a  href="/{{=request.application}}/{{=request.controller}}/get_comprobante/{{=comprobante[0]}}" target="blanck">\
						        					{{=comprobante[1]}}\
						    						</a>\
						    					</td>\
						    					<td class="center-vertically">\
	                                    			<center>\
	                                   					<a onClick = "if(confirm(\'¿Está seguro de que desea eliminar este comprobante?\')) {window.location.href=\'{{=URL(f="eliminar_comprobante", args=[comprobante[0], id_producto])}}\';comprobante_mostrado=comprobante_mostrado-1\
	                                   						;comprobantes_eliminados += 1;}">\
	                                                        <span class="glyphicon glyphicon-remove red"></span>\
	                                    				</a>\
	                                    			</center>\
	                                    		</td>\
						    				</tr>\
										{{pass}}\
										</tbody></table>\
									{{pass}}\
								<br></div>\
								<div class="col-sm-offset-3 col-sm-8">\
									<a id="agregar_comprobante" href="#" onclick="return false;">\
										<img alt="Agregar Comprobante" src="/SiraDex/static/icon/i_add.png" height="55" >\
									</a>\
								</div>\
							</div>\
						</div>';




			$('#no_table_c0mpr0bant3_1__row').before(html);
			for (i = 1; i <= cantidad_comprobantes; i++) {
		    	$('#no_table_c0mpr0bant3_'+i+'__row').addClass("hidden");
		    	$('#no_table_d3scr1pc10n_comprobante_'+i+'__row').addClass("hidden");
			}

			$('#agregar_comprobante').click(function(){
				if (comprobante_mostrado<cantidad_comprobantes){

					if($('#no_table_c0mpr0bant3_'+agregados_aqui).val()=="" ){
						if (!error_comprobante){
							$('#no_table_c0mpr0bant3_'+agregados_aqui).parent().append('<span id="error_archivo_'+agregados_aqui+'" class="help-block error">Primero debes cargar el comprobante</span>');
							error_comprobante = 1;
						}
					}
					else{
						$('#error_archivo_'+agregados_aqui).addClass("hidden");
						if($('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui).val()==""){
							if (!error_descripcion){
								$('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui).parent().append('<span id="error_descripcion_'+agregados_aqui+'" class="help-block error">La descripcion de un archivo cargado es obligatoria</span>');
								error_descripcion = 1;
							}
						}
						else{
							error_comprobante = 0;
							error_descripcion = 0;
							$('#error_descripcion_'+agregados_aqui).addClass("hidden");

							comprobante_mostrado += 1;
							agregados_aqui += 1;
							$('#no_table_c0mpr0bant3_'+agregados_aqui+'__row').removeClass("hidden");
							$('#no_table_d3scr1pc10n_comprobante_'+agregados_aqui+'__row').removeClass("hidden");
							$('#no_table_c0mpr0bant3_'+agregados_aqui+'__row').prepend('<hr class="col-sm-offset-3 col-sm-8">');
						};
					};
				};
				if (comprobante_mostrado==cantidad_comprobantes){
					$('#agregar_comprobante').addClass("hidden");
				}

				$('#cant_restante').remove();
				$('#comprobantes').after('<span class="col-sm-offset-3 col-sm-6" id="cant_restante">\
													Puedes subir <b>'+(cantidad_comprobantes-comprobante_mostrado)+'</b> comprobantes mas\
													<br>\
													Solo puedes subir documentos PDF</span>');

			});

			$('.upload').change(function(){
				var ext = $(this).val().split('.').pop().toLowerCase();
				if(ext != 'pdf') {
				    alert('solo se permite cargar archivos PDF');
				    $(this).val('');
				    $(this).filestyle('clear');
				}
			});


			$('.form-horizontal').submit(function(){

				// Verificamos los comprobantes
				var infor_cargada = false;
				for (i = 1; i <= cantidad_comprobantes; i++) {
			    	if($('#no_table_c0mpr0bant3_'+i).val() !="" ){
			    		if($('#no_table_d3scr1pc10n_comprobante_'+i).val()==""){
			    			alert("La descripción de los comprobantes cargados no puede ser vacia");
			    			return false;
			    		}
			    		infor_cargada = true;
					}
				}

				if (!infor_cargada && comprobantes_eliminados==comprobantes_bd){
					alert("Tiene que adjuntar al menos un comprobante");
					return false;
				}
			});

		});
	</script>
{{end}}
