{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
    Registros de Programas en el Sistema
{{end}}


{{block contenido}}

    <script src="{{=URL('static','js/global.js')}}"></script>
    <script src="{{=URL('static','js/list.js')}}"></script>
    <script src="{{=URL('static','js/programa.js')}}"></script>

    <br>
    <div id="programs">
      <div class="row">
          <div class="col-sm-6">
               <form class="navbar-form" role="search">
                  <div class="input-group col-lg-12">
                      <!-- barra de busqueda -->
                          <input  type="text"
                                  class="form-control search"
                                  placeholder="Buscar Programa"
                                  id="form-busqueda">


                      <!-- Lupa -->

                      <span class="input-group-btn">
                          <span
                                  class="btn btn-default glyphicon glyphicon-search"
                                  id="btn-lupa" style="top:0px !important;">
                          </span>
                      </span>
                   </div>
              </form>
          </div>
          <div class="col-sm-5 col-sm-push-3" style="margin-top:10px; ; margin-left:30px">
              <button type="button" id="agregarProgBtn" class="btn btn-default green btn-border" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Programa
              </button>
          </div>
      </div>
      <br>
      <div class="container-fluid card">
      <table class="table table-striped table-condensed table-hover sortable">
          <thead>
              <tr>
                  <th>Título</th>
                  <th><center>Descripción</center></th>
                  <th><center>Editar</center></th>
                  <th><center>Inhabilitar</center></th>
              </tr>
          </thead>
          <tbody class="list">
              {{if len(programas) == 0:}}
                  <tr>
                      <td> No hay programas que mostrar.</td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              {{else:}}
                  {{for programa in programas:}}
                      <tr>
                          <td class="nombre_programa"><a class="a-table" href="{{=URL(c='tipo_actividad', f='gestionar')}}/{{=programa.id_programa}}">{{=programa.nombre}}</a></td>
                          <td class="descripcion_programa"><center>{{=programa.descripcion}}</center></td>
                          <td class="center-vertically">
                              <center>
                                  <a>
                                      <span class="glyphicon glyphicon-edit blue botonEditar" id="editarProgBtn" data-toggle="modal"
                                            data-id-programa={{=programa.id_programa}}
                                            data-nombre="{{=programa.nombre}}"
                                            data-descripcion="{{=programa.descripcion}}"
                                            data-target="#ModalEditarPrograma"></span>
                                  </a>
                              <center>
                           </td>
                          <td class="center-vertically">
                              <center>
                                  <a>
                                     <span class="glyphicon glyphicon-remove red" data-toggle="modal" data-target="#modalEliminarPrograma"
                                            data-link-eliminar-programa="{{=URL(f='eliminar_programa', args=[programa.id_programa])}}"></span>
                                  </a>
                              <center>
                          </td>
                      </tr>
                  {{pass}}
              {{pass}}
          </tbody>
      </table>
      </div>
    </div>
<!-- Modal Agregar-->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Agregar Programa</h4><center>
      </div>
      <div class="modal-body" id="modalAgregar" data-hayErroresAgregar="{{=hayErroresAgregar}}">
          <p><center> {{=formulario}} </center> </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div id="ModalEditarPrograma" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title">Editar Programa</h4><center>
      </div>
      <div class="modal-body" id="modalEditar" data-hayErroresEditar="{{=hayErroresEditar}}">
          <p> <center> {{=formulario_editar}} </center> </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Eliminar-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="modalEliminarPrograma" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <center> <h4 class="modal-title">Inhabilitar Programa</h4> </center>
        </div>
        <div class="modal-body">
            <center> <p>¿Está seguro que quiere inhabilitar este programa?</p> </center>
            <br>
            <center>
                <a id="BotonEliminar">
                  <button type="button" class="btn blue-add btn-border">
                          Inhabilitar
                  </button>
                </a>
                <button type="button" class="btn btn-default btn-border" data-dismiss="modal">Cerrar</button>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
