{{extend 'layoutSIRADEXloged.html'}}

{{block titulo}}
<h2><center> Programas Registrados en el Sistema </center></h2>
{{end}}

{{block contenido}}
    <a href="{{=URL(c='programas', f='agregar_programa.html')}}">
        {{=IMG(_src=URL('static', 'icon/i_add.png'),_height='20'), }}
        Agregar Programa
    </a>
    <br><br>
    <div class="container-fluid">
    <table class="table table-striped table-condensed table-hover sortable">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody id="actividades">
        {{if len(programas) == 0:}}
            No hay programas que mostrar.
        {{else:}}
            {{for programa in programas:}}
            <tr>
                <td> {{=programa.nombre}}</td>
                <td> {{=programa.descripcion}}</td>
                <td> <center> {{=IMG(_src=URL('static', 'icon/i_edit_disable.png'),_height='25'), }} </center></td>
                <td> <center> {{=IMG(_src=URL('static', 'icon/i_delete.png'),_height='25'), }} </center> </td>
            </tr>
            {{pass}}
         {{pass}}
        </tbody>
    </table>
    </div>
          <div class="col-md-12 text-center">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>

{{end}}
